
<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewData["Title"] - California State Template MVC</title>
    <meta charset="utf-8">
    <meta name="Author" content="State of California" />
    <meta name="Description" content="State of California" />
    <meta name="Keywords" content="California, government" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta property="og:image"
          content="https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/images/social_media_preview_image.png" />

    <link href="https://california.azureedge.net/cdt/statetemplate/6.0.8/css/cagov.core.min.css" rel="stylesheet">

    <link href="https://california.azureedge.net/cdt/statetemplate/6.0.8/css/colortheme-oceanside.min.css"
          rel="stylesheet">


    <link rel="apple-touch-icon-precomposed" sizes="100x100" href="/images/apple-touch-icon-precomposed.png">
    <link rel="icon" sizes="192x192" href="/images/apple-touch-icon-192x192.png">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="/images/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-57x57.png">
    <link rel="shortcut icon" href="/images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/California_State_Template_MVC_V6_2.styles.css" asp-append-version="true" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- Universal Analytics -->

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-20973992-30"></script>

    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        //statewide GA property
        gtag('config', 'UA-3419582-2');

        //please update state department UA code in line below before deployment
        gtag('config', 'UA-20973992-30');



        var getOutboundLink = function (url) {
            gtag('event', 'click', {
                'event_category': 'navigation',
                'event_label': 'outbound link: ' + url,
                'transport_type': 'beacon',
                'event_callback': function () { document.location = url; }
            });
        }

        var trackDownload = function (filename) {
            gtag('event', 'click', {
                'event_category': 'download',
                'event_label': 'file: ' + filename,
                'transport_type': 'beacon',
                'event_callback': function () { document.location = url; }
            });
        }
    </script>



    <!-- Google Analytics 4 -->

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-75V2BNQ3DR"></script>

    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-69TD0KNT0F'); // statewide GA4 Property ID
        gtag('config', 'G-75V2BNQ3DR'); // update individual agency GA4 Property ID code before deployment
    </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">California_State_Template_MVC_V6_2</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - California_State_Template_MVC_V6_2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
