@{
    var isSerp = ViewData["IsSerp"] is bool value && value;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

    <partial name="~/Views/Shared/SampleSite/_HeadIncludes.cshtml" />

    @if (isSerp)
    {
        <meta name="robots" content="noindex" />
        <script>
          window.addEventListener("load", () => {
            const cx = '05e92f21f387b4800';
            const gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
            const s = document.getElementsByTagName('script');
            s[s.length - 1]
              .parentNode
              .insertBefore(gcse, s[s.length - 1]);
          });
        </script>
        <style>
          #nav-item-search,
          .mobile-controls .toggle-search {
            display: none;
          }

          .mobile-controls .mobile-header-icons {
            display: none;
          }
        </style>
    }

    @await RenderSectionAsync("Head", required: false)
</head>
<body class="primary">
    <header role="banner" id="header" class="global-header fixed">
      <div id="skip-to-content">
        <a href="#main-content">Skip to Main Content</a>
      </div>
      @if (ViewData["AlertHtml"] is string alertHtml && !string.IsNullOrWhiteSpace(alertHtml))
      {
          @Html.Raw(alertHtml)
      }
      <partial name="~/Views/Shared/SampleSite/_UtilityHeader.cshtml" />
      <partial name="~/Views/Shared/SampleSite/_SiteHeader.cshtml" />
      <partial name="~/Views/Shared/SampleSite/_MobileControls.cshtml" />
      <div class="navigation-search full-width-nav container">
        <div id="head-search" class="search-container featured-search">
          <partial name="~/Views/Shared/SampleSite/_Search.cshtml" />
        </div>
        <partial name="~/Views/Shared/SampleSite/_Navigation.cshtml" />
      </div>
    </header>

    @RenderBody()

    <partial name="~/Views/Shared/SampleSite/_GlobalFooter.cshtml" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
