@{
    Layout = "~/Views/Shared/Layouts/_SampleBaseLayout.cshtml";
}
<div id="main-content" class="main-content">
  <div class="container p-t-md">
    <main class="main-primary" id="main">
      <nav aria-label="You are here" class="breadcrumbs">
        <ol>
          <li>
            <a href="/" title="Home page">Home</a>
          </li>
          <li>Samples</li>
          <li>@ViewData["Title"]</li>
        </ol>
      </nav>
      <div class="row">
        <div class="col-lg-3 pe-lg-5" role="complementary">
          <partial name="~/Views/Shared/SampleSite/_SampleSideNavigation.cshtml" />
        </div>
        <div class="col-lg-9 p-b-lg">
          <h1 class="mt-lg-0">@ViewData["Title"]</h1>
          @RenderBody()
        </div>
      </div>
    </main>
  </div>
</div>