@{
    ViewData["Title"] = "Blog Title 1";
    Layout = "~/Views/Shared/Layouts/_SampleHomeLayout.cshtml";
    ViewData["Landing"] = "Components";
}

@Html.Raw("""
<div class="container m-t-md">
  <nav aria-label="You are here" class="breadcrumbs">
    <ol>
      <li>
        <a href="/index.html" title="Home page">Home</a>
      </li>
      <li><a href="/about/news/index.html" title="Newsroom page">Newsroom</a></li>
      <li>
        <a href="/about/news/blog.html" title="Blog landing page">Blog </a>
      </li>
      <li>Blog title 1</li>
    </ol>
  </nav>
</div>

<div class="container m-t-lg">
  <div class="row">
    <div class="col-lg-3 pe-lg-5" role="complementary">
      <!-- Side navigation -->

      <nav aria-label="list navigation" class="side-navigation">
        <ul>
          <li>
            <a href="/about/news/blog.html" class="landing back">Blog</a>
          </li>
          <li>
            <a href="/about/news/blog-title1.html" class="active">Blog title 1</a>
          </li>
          <li>
            <a href="/about/news/blog-title2.html">Blog title 2</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-lg-9 p-b-lg">
      <!--Blog post-->
      <p class="m-t-md">Month 00, 0000 | Blog post</p>
      <h1>Blog Title 1</h1>
      <p class="lead">
        Support the title with some short explanatory text. You don’t need more
        than a couple sentences.
      </p>
      <p>By Author Name</p>

      <div class="socialsharer-container m-y-lg float-none">
        <a
          class="ca-gov-icon-facebook gray-700 gray-900-hover m-r"
          title="Facebook Link"
          href="javascript:;"
          aria-disabled="true"></a>
        <a
          class="ca-gov-icon-twitter gray-700 gray-900-hover m-r"
          title="Twitter Link"
          href="javascript:;"
          aria-disabled="true"></a>
        <a
          class="ca-gov-icon-email gray-700 gray-900-hover m-r"
          title="Email Link"
          href="javascript:;"
          aria-disabled="true"></a>
        <a
          class="ca-gov-icon-link gray-700 gray-900-hover m-r"
          title="Page Link"
          href="javascript:;"
          aria-disabled="true"></a>
      </div>

      <hr class="m-b-lg" />

      <p>
        <span class="bold">City Name, California</span>
        – This is your lead paragraph. It is the most important paragraph in
        your news article. Put all important information here in a concise.
        clear, and interesting way. It should include what happened, where, and
        when. When possible, also include who was involved and why. Other
        paragraphs can provide more detail and contain less important
        information.
      </p>
      <p>
        The remaining paragraphs are supporting paragraphs. Lorem ipsum dolor
        sit amet, consectetur adipiscing elit. Vestibulum pretium dapibus diam,
        a finibus metus congue a. Vestibulum laoreet faucibus ultrices.
        Vestibulum condimentum lectus in arcu ultricies condimentum. Lorem ipsum
        dolor sit amet, consectetur adipiscing elit. Vestibulum pretium dapibus
        diam, a finibus metus congue a. Vestibulum laoreet faucibus ultrices.
        Vestibulum condimentum lectus in arcu ultricies condimentum.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
        pretium dapibus diam, a finibus metus congue a. Vestibulum laoreet
        faucibus ultrices. Vestibulum condimentum lectus in arcu ultricies
        condimentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Vestibulum pretium dapibus diam, a finibus metus congue a. Vestibulum
        laoreet faucibus ultrices. Vestibulum condimentum lectus in arcu
        ultricies condimentum.
      </p>

      <h2>Article subtitle</h2>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
        pretium dapibus diam, a finibus metus congue a. Vestibulum laoreet
        faucibus ultrices. Vestibulum condimentum lectus in arcu ultricies
        condimentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Vestibulum pretium dapibus diam, a finibus metus congue a. Vestibulum
        laoreet faucibus ultrices. Vestibulum condimentum lectus in arcu
        ultricies condimentum.
      </p>

      <hr class="m-t-lg d-block" />

      <h3 class="h4">Author contact</h3>

      <p>Author name</p>
      <p>Title or office</p>
      <p>
        <a href="javascript:;" aria-disabled="true">comms@department.ca.gov/a>
      </p>
      <p>(916) 000-0000</p>
      <!--End blog-->
    </div>
  </div>
</div>
""")