@{
    ViewData["Title"] = "Press Release Title 2";
    Layout = "~/Views/Shared/Layouts/_SampleHomeLayout.cshtml";
    ViewData["Landing"] = "Components";
}

@Html.Raw("""
<div class="container m-t-md">
  <nav aria-label="You are here" class="breadcrumbs">
    <ol>
      <li>
        <a href="/index.html" title="Home page">Home</a>
      </li>
      <li>
        <a href="/about/news/index.html" title="Newsroom page">Newsroom</a>
      </li>
      <li>
        <a
          href="/about/news/press-releases.html"
          title="Press releases landing page">
          Press releases
        </a>
      </li>
      <li>Release title 2</li>
    </ol>
  </nav>
</div>

<div class="container m-t-lg">
  <div class="row">
    <div class="col-lg-3 pe-lg-5" role="complementary">
      <!-- Side navigation -->

      <nav aria-label="list navigation" class="side-navigation">
        <ul>
          <li>
            <a href="/about/news/press-releases.html" class="landing back"
              >Press releases</a
            >
          </li>
          <li>
            <a href="/about/news/press-release-title1.html">Release title 1</a>
          </li>
          <li>
            <a href="/about/news/press-release-title2.html" class="active"
              >Release title 2</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-lg-9 p-b-lg">
      <!--News Article-->
      <div class="row">
        <div class="col-lg-7">
          <p class="h3 m-y-0">For Immediate Release</p>
          <p>Month 00, 0000</p>
        </div>
        <div class="col-lg-5 text-right">
          <p class="m-b-0">Contact : Author Name</p>
          <p class="m-b-0">Author title</p>
          <p class="m-b-0"><a href="mailto:email@somedomain.com">Email</a></p>
          <p>(000)000-0000</p>
        </div>
      </div>
      <h1>Press Release Title 2</h1>
      <p class="lead m-b-lg">
        Support the title with some short explanatory text. You don’t need more
        than a couple sentences.
      </p>

      <p>
        <span class="bold">City Name, California</span>
        – This is your lead paragraph. It is the most important paragraph in
        your news article. Put all important information here in a concise.
        clear, and interesting way. It should include what happened, where, and
        when. When possible, also include who was involved and why. Other
        paragraphs can provide more detail and contain less important
        information.
      </p>
      <p>
        The remaining paragraphs are supporting paragraphs. Lorem ipsum dolor
        sit amet, consectetur adipiscing elit. Vestibulum pretium dapibus diam,
        a finibus metus congue a. Vestibulum laoreet faucibus ultrices.
        Vestibulum condimentum lectus in arcu ultricies condimentum. Lorem ipsum
        dolor sit amet, consectetur adipiscing elit. Vestibulum pretium dapibus
        diam, a finibus metus congue a. Vestibulum laoreet faucibus ultrices.
        Vestibulum condimentum lectus in arcu ultricies condimentum.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
        pretium dapibus diam, a finibus metus congue a. Vestibulum laoreet
        faucibus ultrices. Vestibulum condimentum lectus in arcu ultricies
        condimentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Vestibulum pretium dapibus diam, a finibus metus congue a. Vestibulum
        laoreet faucibus ultrices. Vestibulum condimentum lectus in arcu
        ultricies condimentum.
      </p>

      <h2>Article subtitle</h2>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
        pretium dapibus diam, a finibus metus congue a. Vestibulum laoreet
        faucibus ultrices. Vestibulum condimentum lectus in arcu ultricies
        condimentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Vestibulum pretium dapibus diam, a finibus metus congue a. Vestibulum
        laoreet faucibus ultrices. Vestibulum condimentum lectus in arcu
        ultricies condimentum.
      </p>

      <hr class="m-y-lg d-block" />

      <p>P.O. Box 1810 Rancho Cordova, CA 95741-1810</p>
      <p>(916) 000-0000</p>
      <div class="socialsharer-container m-y-lg float-none">
        <a
          class="ca-gov-icon-facebook gray-700 gray-900-hover m-r"
          title="Facebook Link"
          href="javascript:;"
          aria-disabled="true"></a>
        <a
          class="ca-gov-icon-twitter gray-700 gray-900-hover m-r"
          title="Twitter Link"
          href="javascript:;"
          aria-disabled="true"></a>
        <a
          class="ca-gov-icon-email gray-700 gray-900-hover m-r"
          title="Email Link"
          href="javascript:;"
          aria-disabled="true"></a>
        <a
          class="ca-gov-icon-link gray-700 gray-900-hover m-r"
          title="Page Link"
          href="javascript:;"
          aria-disabled="true"></a>
      </div>
      <!--End News Article-->
    </div>
  </div>
</div>
""")