@{
    ViewData["Title"] = "Card Legacy";
    Layout = "~/Views/Shared/Layouts/_SampleSamplesLayout.cshtml";
    ViewData["Landing"] = "Samples";
}

@Html.Raw("""
<div class="card card-default">
  <div class="card-heading">
    <h3><span class="ca-gov-icon-info"></span> Card (Default)</h3>
    <div class="options">
      <a href="" class="btn btn-default">button</a>
    </div>
  </div>
  <div class="card-body">Card Body</div>
</div>

<div class="card card-understated">
  <div class="card-heading">
    <h3>
      <span class="ca-gov-icon-info" aria-hidden="true"></span> Card
      (Understated)
    </h3>
    <div class="options">
      <a href="" class="btn btn-default">button</a>
    </div>
  </div>
  <div class="card-body">Card Body</div>
</div>

<div class="card card-standout highlight">
  <div class="card-heading">
    <span class="triangle"></span><span class="triangle"></span>
    <h3>
      <span class="ca-gov-icon-info" aria-hidden="true"></span> Card (Standout
      Highlight)
    </h3>
    <div class="options">
      <a href="" class="btn btn-default">button</a>
    </div>
  </div>
  <div class="card-body">Card Body</div>
</div>

<div class="card card-overstated">
  <div class="card-heading">
    <h3>
      <span class="ca-gov-icon-info" aria-hidden="true"></span> Card
      (Overstated)
    </h3>
    <div class="options">
      <a href="" class="btn btn-default">button</a>
    </div>
  </div>
  <div class="card-body">Card Body</div>
</div>

<div class="card card-primary">
  <div class="card-header">
    <h3><span class="ca-gov-icon-info"></span> Card (Primary)</h3>
    <div class="options">
      <a href="" class="btn btn-default">button</a>
    </div>
  </div>
  <div class="card-body">Card Body</div>
</div>

<div class="card card-danger">
  <div class="card-header">
    <h3><span class="ca-gov-icon-info"></span> Card (danger)</h3>
    <div class="options">
      <a href="" class="btn btn-default">button</a>
    </div>
  </div>
  <div class="card-body">Card Body</div>
</div>

<div class="card card-inverted">
  <div class="card-header">
    <h3><span class="ca-gov-icon-info"></span> Card (inverted)</h3>
    <div class="options">
      <a href="" class="btn btn-default">button</a>
    </div>
  </div>
  <div class="card-body">Card Body</div>
</div>

<div class="card card-info">
  <div class="card-header">
    <h3><span class="ca-gov-icon-info"></span> Card (info)</h3>
    <div class="options">
      <a href="" class="btn btn-default">button</a>
    </div>
  </div>
  <div class="card-body">Card Body</div>
</div>

<div class="card card-success">
  <div class="card-header">
    <h3><span class="ca-gov-icon-info"></span> Card (success)</h3>
    <div class="options">
      <a href="" class="btn btn-default">button</a>
    </div>
  </div>
  <div class="card-body">Card Body</div>
</div>

<div class="card card-warning">
  <div class="card-header">
    <h3><span class="ca-gov-icon-info"></span> Card (warning)</h3>
    <div class="options">
      <a href="" class="btn btn-default">button</a>
    </div>
  </div>
  <div class="card-body">Card Body</div>
</div>
""")