@{
    ViewData["Title"] = "Number Counter";
    Layout = "~/Views/Shared/Layouts/_SampleSamplesLayout.cshtml";
    ViewData["Landing"] = "Samples";
}

@Html.Raw("""
<p style="height: 150em;">Scoll to see the number counter in action!</p>

<div class="stat-counter text-accent1">
  <span
    class="scroll-counter"
    data-counter-time="4000"
    style="visibility: visible;">
    3000
  </span>
</div>
""")