@{
    ViewData["Title"] = "News Article Title 2";
    Layout = "~/Views/Shared/Layouts/_SampleHomeLayout.cshtml";
    ViewData["Landing"] = "Components";
}

@Html.Raw("""
<div class="container m-t-md">
  <nav aria-label="You are here" class="breadcrumbs">
    <ol>
      <li>
        <a href="/" title="Home page">Home</a>
      </li>
      <li>
        <a href="/about/news" title="Newsroom page">Newsroom</a>
      </li>
      <li>
        <a href="/about/news/articles" title="News articles page"
          >News Articles
        </a>
      </li>
      <li>News Article Title 2</li>
    </ol>
  </nav>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-3 pe-lg-5" role="complementary">
      <!-- Side navigation -->

      <nav aria-label="list navigation" class="side-navigation">
        <ul>
          <li>
            <a href="/about/news/articles" class="landing back"
              >News Articles</a
            >
          </li>
          <li>
            <a href="/about/news/article-title1">News Article title 1</a>
          </li>
          <li>
            <a href="/about/news/article-title2" class="active"
              >News Article title 2</a
            >
          </li>
          <li>
            <a href="/about/news/article-title3">News Article title 3</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-lg-9 p-b-lg">
      <!--News Article-->
      <p class="m-t-md">Month 00, 0000 | Press release</p>
      <h1>News Article Title 2</h1>
      <p class="lead">
        Support the title with some short explanatory text. You don’t need more
        than a couple sentences.
      </p>
      <p>By Author Name</p>

      <div class="socialsharer-container m-y-lg float-none">
        <a
          class="ca-gov-icon-facebook gray-700 gray-900-hover m-r"
          title="Facebook Link"
          href="javascript:;"
          aria-disabled="true"></a>
        <a
          class="ca-gov-icon-twitter gray-700 gray-900-hover m-r"
          title="Twitter Link"
          href="javascript:;"
          aria-disabled="true"></a>
        <a
          class="ca-gov-icon-email gray-700 gray-900-hover m-r"
          title="Email Link"
          href="javascript:;"
          aria-disabled="true"></a>
        <a
          class="ca-gov-icon-link gray-700 gray-900-hover m-r"
          title="Page Link"
          href="javascript:;"
          aria-disabled="true"></a>
      </div>

      <hr class="m-b-lg" />

      <p>
        <span class="bold">City Name, California</span>
        – This is your lead paragraph. It is the most important paragraph in
        your news article. Put all important information here in a concise.
        clear, and interesting way. It should include what happened, where, and
        when. When possible, also include who was involved and why. Other
        paragraphs can provide more detail and contain less important
        information.
      </p>
      <p>
        The remaining paragraphs are supporting paragraphs. Lorem ipsum dolor
        sit amet, consectetur adipiscing elit. Vestibulum pretium dapibus diam,
        a finibus metus congue a. Vestibulum laoreet faucibus ultrices.
        Vestibulum condimentum lectus in arcu ultricies condimentum. Lorem ipsum
        dolor sit amet, consectetur adipiscing elit. Vestibulum pretium dapibus
        diam, a finibus metus congue a. Vestibulum laoreet faucibus ultrices.
        Vestibulum condimentum lectus in arcu ultricies condimentum.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
        pretium dapibus diam, a finibus metus congue a. Vestibulum laoreet
        faucibus ultrices. Vestibulum condimentum lectus in arcu ultricies
        condimentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Vestibulum pretium dapibus diam, a finibus metus congue a. Vestibulum
        laoreet faucibus ultrices. Vestibulum condimentum lectus in arcu
        ultricies condimentum.
      </p>

      <h2>Article subtitle</h2>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
        pretium dapibus diam, a finibus metus congue a. Vestibulum laoreet
        faucibus ultrices. Vestibulum condimentum lectus in arcu ultricies
        condimentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Vestibulum pretium dapibus diam, a finibus metus congue a. Vestibulum
        laoreet faucibus ultrices. Vestibulum condimentum lectus in arcu
        ultricies condimentum.
      </p>

      <hr class="m-t-lg d-block" />

      <h3 class="h4">Press contact</h3>

      <p class="bold">Communications Office</p>
      <p>
        <a href="javascript:;" aria-disabled="true">comms@department.ca.gov</a>
      </p>
      <p>(916) 000-0000</p>
      <!--End News Article-->
    </div>
  </div>
</div>
""")
