@{
    ViewData["Title"] = "Buttons Disabled";
    Layout = "~/Views/Shared/Layouts/_SampleSamplesLayout.cshtml";
    ViewData["Landing"] = "Samples";
}

@Html.Raw("""
<div class="btn-row p-b">
  <a class="btn btn-primary disabled" role="button">Primary color</a>
  <a class="btn btn-highlight disabled" role="button">Highlight color</a>
  <a class="btn btn-standout disabled" role="button">Standout color</a>
</div>
""")