@{
    ViewData["Title"] = "Card Grid Basic";
    Layout = "~/Views/Shared/Layouts/_SampleSamplesLayout.cshtml";
    ViewData["Landing"] = "Samples";
}

@Html.Raw("""
<div class="row">
  <div class="col-md-4 m-b-md">
    <div class="card h-100">
      <div class="card-body bg-gray-50 h-100 d-flex flex-column">
        <h3 class="h4 m-y-sm">Card title</h3>
        <p class="m-b">
          Use the content found at the button link to inspire your card title.
        </p>
        <p class="mt-auto">
          <a class="btn btn-primary p-x-md" href="javascript:;">
            Button
            <span class="sr-only">with link related to card title</span>
          </a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4 m-b-md">
    <div class="card h-100">
      <div class="card-body bg-gray-50 h-100 d-flex flex-column">
        <h3 class="h4 m-y-sm">Title</h3>
        <p class="m-b">
          Cards use the
          <a href="/visual-design/typography.html#Heading-hierarchy">heading</a>
          text style for titles. Keep them short, concise, and consistent.
        </p>
        <p class="mt-auto">
          <a class="btn btn-primary p-x-md" href="javascript:;">
            Button
            <span class="sr-only">with some link</span>
          </a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4 m-b-md">
    <div class="card h-100">
      <div class="card-body bg-gray-50 h-100 d-flex flex-column">
        <h3 class="h4 m-y-sm">Card body</h3>
        <p class="m-b">
          Use this space to briefly tell your reader what they will find at the
          card's destination.
        </p>
        <p class="mt-auto">
          <a class="btn btn-primary p-x-md" href="javascript:;">
            Button
            <span class="sr-only">with link that goes somewhere</span>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
""")