@{
    ViewData["Title"] = "Card Default";
    Layout = "~/Views/Shared/Layouts/_SampleSamplesLayout.cshtml";
    ViewData["Landing"] = "Samples";
}

@Html.Raw("""
<div class="card">
  <div class="card-body bg-gray-50">
    <h3 class="h4 m-y-sm">Card title</h3>
    <p class="m-b">
      Use the content found at the button link to inspire your card title.
    </p>
    <a class="btn btn-primary p-x-md" href="javascript:;">
      Button <span class="sr-only">with link related to card title</span>
    </a>
  </div>
</div>
""")