@{
    ViewData["Title"] = "Navigation with icons";
    Layout = "~/Views/Shared/Layouts/_SampleNavIconsLayout.cshtml";
    ViewData["Landing"] = "Components";
}

@Html.Raw("""
<nav aria-label="You are here" class="breadcrumbs">
  <ol>
    <li>
      <a href="/" title="Home page">Home</a>
    </li>
    <li>
      <a href="/home/components_patterns" title="Components and patterns page"
        >Components and patterns</a
      >
    </li>
    <li>Navigation with icons</li>
  </ol>
</nav>

<div class="row">
  <div class="col-lg-3 pe-lg-5" role="complementary">
    <!-- Side navigation -->
    <nav aria-label="list navigation" class="side-navigation">
      <ul>
        <li>
          <a href="/home/top_task_1" class="landing back">Top task</a>
        </li>
        <li>
          <a href="/home/top_task_1_content_page_1">Content page 1</a>
        </li>
        <li>
          <ul>
            <li>
              <a href="/home/top_task_1_content_page_2">Content page 2</a>
            </li>
          </ul>
        </li>
        <li><a href="/home/top_task_1_content_page_3">Content page 3</a></li>
        <li><a href="/home/top_task_1_content_page_4">Content page 4</a></li>
      </ul>
    </nav>
  </div>
  <div class="col-lg-9 p-b-lg">
    <h1 class="m-t-0">Navigation with icons</h1>
    <p class="lead">
      This is navigation with icons option that also contains the search button,
      which toggles the search widget. Navigation with icons usually appears to
      the right of the site logo. It uses icons from CA.gov font library inside
      of the first level navigation items.
    </p>
  </div>
</div>
""")