@{
    ViewData["Title"] = "Page Navigation More";
    Layout = "~/Views/Shared/Layouts/_SampleSamplesLayout.cshtml";
    ViewData["Landing"] = "Samples";
}

@Html.Raw("""
<p>Double Column 6+ headings</p>
<nav class="page-navigation"></nav>
<h2>Heading H2 - 1</h2>
<p>This is a sample paragraph for the heading.</p>
<h3>Heading H3</h3>
<p>No links generated for this heading.</p>
<h2>Heading H2 - 2</h2>
<p>This is a sample paragraph for the heading.</p>
<h3>Heading H3</h3>
<p>No links generated for this heading.</p>
<h2>Heading H2 - 3</h2>
<p>This is a sample paragraph for the heading.</p>
<h3>Heading H3</h3>
<p>No links generated for this heading.</p>
<h2>Heading H2 - 4</h2>
<p>This is a sample paragraph for the heading.</p>
<h3>Heading H3</h3>
<p>No links generated for this heading.</p>
<h2>Heading H2 - 5</h2>
<p>This is a sample paragraph for the heading.</p>
<h3>Heading H3</h3>
<p>No links generated for this heading.</p>
<h2>Heading H2 - 6</h2>
<p>This is a sample paragraph for the heading.</p>
<h3>Heading H3</h3>
<p>No links generated for this heading.</p>
<h2>Heading H2 - 7</h2>
<p>This is a sample paragraph for the heading.</p>
<h3>Heading H3</h3>
<p>No links generated for this heading.</p>
<h2>Heading H2 - 8</h2>
<p>This is a sample paragraph for the heading.</p>
<h3>Heading H3</h3>
<p>No links generated for this heading.</p>
""")