@{
    ViewData["Title"] = "Page Navigation";
    Layout = "~/Views/Shared/Layouts/_SampleSamplesLayout.cshtml";
    ViewData["Landing"] = "Samples";
}

@Html.Raw("""
<p>Single Column 1-5 headings</p>

<nav class="page-navigation"></nav>
<h2>Heading H2 - 1</h2>
<p>This is a sample paragraph for the heading.</p>
<h3>Heading H3</h3>
<p>No links generated for this heading.</p>
<h2>Heading H2 - 2</h2>
<p>This is a sample paragraph for the heading.</p>
<h3>Heading H3</h3>
<p>No links generated for this heading.</p>
<h2>Heading H2 - 3</h2>
<p>This is a sample paragraph for the heading.</p>
<h3>Heading H3</h3>
<p>No links generated for this heading.</p>
<h2>Heading H2 - 4</h2>
<p>This is a sample paragraph for the heading.</p>
<h3>Heading H3</h3>
<p>No links generated for this heading.</p>
<h2>Heading H2 - 5</h2>
<p>This is a sample paragraph for the heading.</p>
<h3>Heading H3</h3>
<p>No links generated for this heading.</p>
""")