@{
    ViewData["Title"] = "Section Standout";
    Layout = "~/Views/Shared/Layouts/_SampleSamplesLayout.cshtml";
    ViewData["Landing"] = "Samples";
}

@Html.Raw("""
<div class="section-standout p-5 mb-4">
  <h4 class="mt-0">Link grid</h4>

  <div class="row">
    <div class="col-md-4 mb-4">
      <a href="javascript:;" class="link-grid">Short link 1</a>
    </div>
    <div class="col-md-4 mb-4">
      <a href="javascript:;" class="link-grid">Short link 2</a>
    </div>
    <div class="col-md-4 mb-4">
      <a href="javascript:;" class="link-grid">Short link 3</a>
    </div>
  </div>

  <h4>Buttons</h4>
  <h5>Default</h5>
  <div class="btn-row">
    <a href="" class="btn btn-default">.btn-default</a>
    <a href="" class="btn btn-primary border-light">.btn-primary</a>
    <a href="" class="btn btn-highlight">.btn-highlight</a>
    <a href="" class="btn btn-standout border-light">.btn-standout</a>
    <a href="" class="btn btn-secondary">.btn-secondary</a>
  </div>
  <h5>Hover</h5>
  <div class="btn-row">
    <a href="" class="btn btn-default active">.btn-default.active</a>
    <a href="" class="btn btn-primary active border-light">
      .btn-primary.active
    </a>
    <a href="" class="btn btn-highlight active">.btn-highlight.active</a>
    <a href="" class="btn btn-standout active border-light">
      .btn-standout.active
    </a>
    <a href="" class="btn btn-secondary active">.btn-secondary.active</a>
  </div>

  <h4>Cards</h4>

  <div class="card card-overstated w-75  border border-light">
    <div class="card-heading">
      <h3>
        <span class="ca-gov-icon-info"></span>
        Card (Overstated)
      </h3>
      <div class="options">
        <a href="" class="btn btn-default">button</a>
      </div>
    </div>
    <div class="card-body">Card Body</div>
  </div>

  <div class="card card-standout w-75">
    <div class="card-heading">
      <h2>
        <span class="ca-gov-icon-info"></span>
        Card (Standout)
      </h2>
      <div class="options">
        <a href="" class="btn btn-default">button</a>
      </div>
    </div>
    <div class="card-body">Card Body</div>
  </div>
</div>
""")