@{
    ViewData["Title"] = "Step List";
    Layout = "~/Views/Shared/Layouts/_SampleSamplesLayout.cshtml";
    ViewData["Landing"] = "Samples";
}

@Html.Raw("""
<ol class="cagov-step-list">
  <li>
    Step one of your list
    <br />
    <span class="cagov-step-list-content">
      Riveting text to explain the step.
    </span>
  </li>
  <li>
    Step two of your list
    <br />
    <span class="cagov-step-list-content">
      Everyone is going to love the simple, visual way you laid out these steps.

      <br />
      <br />
      Normal list inside the step list
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
      </ul>

      Number list inside the step list
      <ol>
        <li>Item 1</li>
        <li>Item 2</li>
      </ol>
    </span>
  </li>
  <li>
    Step three of your list
    <br />
    <span class="cagov-step-list-content">
      This process has never seemed easier.
    </span>
  </li>
</ol>
<h2>A second step list</h2>
<ol class="cagov-step-list">
  <li>
    Step one of your list
    <br />
    <span class="cagov-step-list-content">
      Riveting text to explain the step.
    </span>
  </li>
  <li>
    Step two of your list
    <br />
    <span class="cagov-step-list-content">
      Everyone is going to love the simple, visual way you laid out these steps.

      <br />
      <br />
      Normal list inside the step list
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
      </ul>

      Number list inside the step list
      <ol>
        <li>Item 1</li>
        <li>Item 2</li>
      </ol>
    </span>
  </li>
  <li>
    Step three of your list
    <br />
    <span class="cagov-step-list-content">
      This process has never seemed easier.
    </span>
  </li>
  <li>
    And so on...
    <br />
    <span class="cagov-step-list-content"> More... </span>
  </li>
  <li>
    And so on...
    <br />
    <span class="cagov-step-list-content"> More... </span>
  </li>
  <li>
    And so on...
    <br />
    <span class="cagov-step-list-content"> More... </span>
  </li>
  <li>
    And so on...
    <br />
    <span class="cagov-step-list-content"> More... </span>
  </li>
  <li>
    And so on...
    <br />
    <span class="cagov-step-list-content"> More... </span>
  </li>
  <li>
    And so on...
    <br />
    <span class="cagov-step-list-content"> More... </span>
  </li>
  <li>
    And so on...
    <br />
    <span class="cagov-step-list-content"> More... </span>
  </li>
  <li>
    And so on...
    <br />
    <span class="cagov-step-list-content"> More... </span>
  </li>
  <li>
    And so on...
    <br />
    <span class="cagov-step-list-content"> More... </span>
  </li>
  <li>
    And so on...
    <br />
    <span class="cagov-step-list-content"> More... </span>
  </li>
  <li>
    And so on...
    <br />
    <span class="cagov-step-list-content"> More... </span>
  </li>
  <li>
    And so on...
    <br />
    <span class="cagov-step-list-content"> More... </span>
  </li>
  <li>
    And so on...
    <br />
    <span class="cagov-step-list-content"> More... </span>
  </li>
  <li>
    And so on...
    <br />
    <span class="cagov-step-list-content"> More... </span>
  </li>
  <li>
    And so on...
    <br />
    <span class="cagov-step-list-content"> More... </span>
  </li>
  <li>
    And so on...
    <br />
    <span class="cagov-step-list-content"> More... </span>
  </li>
  <li>
    And so on...
    <br />
    <span class="cagov-step-list-content"> More... </span>
  </li>
  <li>
    And so on...
    <br />
    <span class="cagov-step-list-content"> More... </span>
  </li>
  <li>
    And so on...
    <br />
    <span class="cagov-step-list-content"> More... </span>
  </li>
</ol>
""")