@{
    ViewData["Title"] = "Alert Banner";
    Layout = "~/Views/Shared/Layouts/_SampleSamplesLayout.cshtml";
    ViewData["Landing"] = "Samples";
    ViewData["AlertHtml"] = """
<div class="alert alert-dismissible alert-banner alert-info" role="alert">
  <div class="container">
    <img src="/images/alert-info.svg" alt="alert info icon">
    <span class="alert-text"><span class="text-bold">New!</span> A new version of the State Web
      Template has launched.
      <span class="ca-gov-icon-pipe" aria-hidden="true"></span>
      <a href="javascript:;">Upgrade now</a></span>
    <button type="button" class="close ms-lg-auto" data-bs-dismiss="alert" aria-label="Close">
      <span class="ca-gov-icon-close-mark" aria-hidden="true"></span>
    </button>
  </div>
</div>
<div class="alert alert-dismissible alert-banner alert-warning" role="alert">
  <div class="container">
    <span class="alert-icon ca-gov-icon-warning-triangle text-warning" aria-hidden="true"></span>
    <span class="alert-text"><span class="text-bold">Warning:</span> Our website may be impacted
      during upgrade.
      <span class="ca-gov-icon-pipe" aria-hidden="true"></span>
      <a href="javascript:;">Learn more <span class="sr-only">about the impact</span></a></span>
    <button type="button" class="close ms-lg-auto" data-bs-dismiss="alert" aria-label="Close">
      <span class="ca-gov-icon-close-mark" aria-hidden="true"></span>
    </button>
  </div>
</div>
<div class="alert alert-dismissible alert-banner alert-danger" role="alert">
  <div class="container">
    <img src="/images/alert-warning-diamond.svg" alt="alert warning icon">
    <span class="alert-text"><span class="text-bold">Alert:</span> Our systems are currently down.
      <span class="ca-gov-icon-pipe" aria-hidden="true"></span>
      <a href="javascript:;">Learn more <span class="sr-only">about the incident</span></a></span>
    <button type="button" class="close ms-lg-auto" data-bs-dismiss="alert" aria-label="Close">
      <span class="ca-gov-icon-close-mark" aria-hidden="true"></span>
    </button>
  </div>
</div>
<div class="alert alert-dismissible alert-banner alert-success" role="alert">
  <div class="container">
    <img src="/images/alert-success.svg" alt="alert success icon">
    <span class="alert-text"><span class="text-bold">Fixed.</span> Our systems are back up again.
      <span class="ca-gov-icon-pipe" aria-hidden="true"></span>
      <a href="javascript:;">Learn more <span class="sr-only">about the resolution</span></a></span>
    <button type="button" class="close ms-lg-auto" data-bs-dismiss="alert" aria-label="Close">
      <span class="ca-gov-icon-close-mark" aria-hidden="true"></span>
    </button>
  </div>
</div>
""";
}

@Html.Raw("""
See Alert Banners above
""")
