@{
    ViewData["Title"] = "Home Page";
}


<div class="section-default">
    <div class="container p-a-md">
        <div class="row">
            <div class="col-md-6 col-lg-4 p-y-md order-2 order-md-1">
                <h1 class="h3 m-t">California State Web Template (eleventy)</h1>
                <p>
                    With a new look, more features, and updated content and components, the final State Web Template is here to
                    help
                    you update and enhance your websites and applications.
                </p>
                <a href="https://github.com/Office-of-Digital-Services/California-State-Web-Template-Website/releases"
                    class="btn btn-primary m-t-md m-b-lg">Learn what is new</a>
            </div>
            <div class="col-lg-8 col-md-6 p-0 text-right order-1 order-md-2 d-flex justify-content-center">
                <a href="#" class="feature-img" style="background: url('/images/main-banner.jpg')"
                    aria-label="Feature card example image">
                </a>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <h2>What's new in v6</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img" src="/images/navigation.jpg" alt="navigation illustration">
                <div class="card-body bg-gray-50">
                    <h3 class="card-title"><a href="#">Enhanced navigation</a></h3>
                    <p>With better wayfinding and new side navigation, developing user-friendly websites is easier than ever.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img" src="/images/design.jpg" alt="visual design illustration">
                <div class="card-body bg-gray-50">
                    <h3 class="card-title"><a href="#">Refreshed visual design</a></h3>
                    <p>The template, website, and most components have been redesigned to align with the Design System.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img" src="/images/components.jpg" alt="components illustration">
                <div class="card-body bg-gray-50">
                    <h3 class="card-title"><a href="#">Updated components</a></h3>
                    <p>We added new components, combined similar components, and improved the overall design and functionality.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <hr>
    <div class="row p-t">
        <div class="col-md-4 text-right p-r-md d-none d-md-block">
            <span class="ca-gov-icon-quotation-mark text-4rem color-primary" aria-hidden="true"></span>
        </div>
        <div class="col-md-7">
            <blockquote class="no-quotation-mark">
                <p>A consistent experience is a better experience. </p>
                <footer>Mark Eberman</footer>
            </blockquote>
        </div>
    </div>
    <hr>
</div>


<div class="container p-b-lg">
    <div class="row m-b-md">
        <div class="col-md-8">
            <h2>Partner with us</h2>
            <p>
                Improvements to the State Web Template and the Design System are largely driven by your feedback.
                We'd love to hear from you!
            </p>
        </div>
        <div class="col-md-4">
            <img src="/images/geometry.png" alt="geometryc cubes" class="img-fluid">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 d-flex">
            <span class="ca-gov-icon-idea-alt text-2-5rem color-p3" aria-hidden="true"></span>
            <div class="p-x-md">
                <h3 class="h4 m-t">Have an idea or an issue?</h3>
                <div class="width-30 brd-top brd-gray p-b"></div>
                <p>
                    <a href="https://github.com/Office-of-Digital-Services/California-State-Web-Template">Reach out in GitHub</a>
                </p>
            </div>
        </div>
        <div class="col-md-4 d-flex">
            <span class="ca-gov-icon-chat-bubble text-2-5rem color-p3" aria-hidden="true"></span>
            <div class="p-x-md">
                <h3 class="h4 m-t">Want to give website feedback?</h3>
                <div class="width-30 brd-top brd-gray p-b"></div>
                <p>

                </p>
            </div>
        </div>
        <div class="col-md-4 d-flex">
            <span class="ca-gov-icon-cal-bear text-2-5rem color-p3" aria-hidden="true"></span>
            <div class="p-l-md">
                <h3 class="h4 m-t">What is coming next?</h3>
                <div class="width-30 brd-top brd-gray p-b"></div>
                <p>
                    <a href="https://designsystem.webstandards.ca.gov/">
                        Check out new CA
                        Design System
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>