@{
    ViewData["Title"] = "Our organization";
    Layout = "~/Views/Shared/Layouts/_SampleHomeLayout.cshtml";
    ViewData["Landing"] = "Components";
}

@Html.Raw("""
<div class="section-understated">
  <div class="container p-y-md">
    <nav aria-label="You are here" class="breadcrumbs">
      <ol>
        <li>
          <a href="/" title="Home page">Home</a>
        </li>
        <li><a href="/about" title="About page">About</a></li>
        <li>Our organization</li>
      </ol>
    </nav>
    <h1 class="m-t-0">Our organization</h1>
  </div>
</div>

<div class="container p-t-lg">
  <div class="row">
    <div class="col-lg-3 pe-lg-5" role="complementary">
      <!-- Side navigation -->

      <nav aria-label="list navigation" class="side-navigation">
        <ul>
          <li>
            <a href="/about" class="landing">About us</a>
          </li>
          <li>
            <a href="/about/our-organization" class="active"
              >Our organization</a
            >
          </li>
          <li><a href="/about/news">News</a></li>
          <li><a href="/about/careers">Careers</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-lg-9 p-b-lg">
      <p class="lead">
        Include a sentence or two describing your organization and what it does.
        This page will feature the main services/divisions of your department.
        It will optionally include your director and leadership.
      </p>

      <nav class="page-navigation"></nav>

      <div class="bg-gray-75 p-a-md m-t-lg m-b-md">
        <h2 class="m-t-0 m-b-0 color-p2">Name of division 1</h2>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <img
            src="/images/thumbnail-image.png"
            alt="Dep. person #1 photo"
            class="img-fluid" />
        </div>
        <div class="col-lg-9">
          <p class="lead">Firstname Lastname, Division Chief (optional)</p>
          <p>
            You can include an optional photo of the division chief. Description
            of the service/division. Use bullets to make key points easy to
            scan. Here is another sentence that describes this service/division.
          </p>
          <p>Services we provide include:</p>
          <ul>
            <li>Item one</li>
            <li>Item two</li>
            <li>Item three</li>
            <li>Item four</li>
          </ul>
          <p>Placeholder sentence here about this service or division.</p>
        </div>
      </div>

      <div class="bg-gray-75 p-a-md m-t-lg m-b-md">
        <h2 class="m-t-0 m-b-0 color-p2">Name of division 2</h2>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <img
            src="/images/thumbnail-image.png"
            alt="Dep. person #2 photo"
            class="img-fluid" />
        </div>
        <div class="col-lg-9">
          <p class="lead">Firstname Lastname, Division Chief</p>
          <p>
            Include an optional photo of the division chief. Description of the
            service/division. Use bullets to make key points easy to scan. Here
            is another sentence that describes this service/division.
          </p>
          <p>Services we provide include:</p>
          <ul>
            <li>Item one</li>
            <li>Item two</li>
            <li>Item three</li>
            <li>Item four</li>
          </ul>
          <p>Placeholder sentence here about this service or division.</p>
        </div>
      </div>

      <div class="bg-gray-75 p-a-md m-t-lg m-b-md">
        <h2 class="m-t-0 m-b-0 color-p2">Name of division 3</h2>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <img
            src="/images/thumbnail-image.png"
            alt="Dep. person #3 photo"
            class="img-fluid" />
        </div>
        <div class="col-lg-9">
          <p class="lead">Firstname Lastname, Division Chief</p>
          <p>
            Include an optional photo of the division chief. Description of the
            service/division. Use bullets to make key points easy to scan. Here
            is another sentence that describes this service/division.
          </p>
          <p>Services we provide include:</p>
          <ul>
            <li>Item one</li>
            <li>Item two</li>
            <li>Item three</li>
            <li>Item four</li>
          </ul>
          <p>Placeholder sentence here about this service or division.</p>
        </div>
      </div>

      <div class="bg-gray-75 p-a-md m-t-lg m-b-md">
        <h2 class="m-t-0 m-b-0 color-p2">Name of division 4</h2>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <img
            src="/images/thumbnail-image.png"
            alt="Dep. person #4 photo"
            class="img-fluid" />
        </div>
        <div class="col-lg-9">
          <p class="lead">Firstname Lastname, Division Chief</p>
          <p>
            Include an optional photo of the division chief. Description of the
            service/division. Use bullets to make key points easy to scan. Here
            is another sentence that describes this service/division.
          </p>
          <p>Services we provide include:</p>
          <ul>
            <li>Item one</li>
            <li>Item two</li>
            <li>Item three</li>
            <li>Item four</li>
          </ul>
          <p>Placeholder sentence here about this service or division.</p>
        </div>
      </div>
    </div>
  </div>
</div>
""")
