/* -----------------------------------------
   DELTA COLOR THEME
----------------------------------------- */

:root {
  /* color variations are hardcoded for older browsers
 color-mix is used for the newer browsers */

  /* Highlight */
  --color-p1: #a5bdc5;
  --color-p1-dark: #99b4bd;
  --color-p1-darker: #8fadb7;
  --color-p1-darkest: #7a9da9;
  --color-p1-light: #b7cad1;
  --color-p1-lighter: #c9d7dc;
  --color-p1-lightest: #dbe5e8;

  /* Primary */
  --color-p2: #577786;
  --color-p2-dark: #4f6c7a;
  --color-p2-darker: #496470;
  --color-p2-darkest: #3b515b;
  --color-p2-light: #79929e;
  --color-p2-lighter: #9aadb6;
  --color-p2-lightest: #bcc9cf;

  /* Standout */
  --color-p3: #46565e;
  --color-p3-dark: #3d4b52;
  --color-p3-darker: #37434a;
  --color-p3-darkest: #283135;
  --color-p3-light: #6b787e;
  --color-p3-lighter: #909a9e;
  --color-p3-lightest: #b5bbbf;

  /* Secondary 1 */
  --color-s1: #f5f9fa;
  --color-s1-darker: #ebf3f5;
  --color-s1-lighter: #fafcfd;

  /* Secondary 2 */
  --color-s2: #ccd4d6;
  --color-s2-dark: #b8c3c6;
  --color-s2-darker: #a4b3b6;

  /* Secondary 3 */
  --color-s3: #a7b7bc;
  --color-s3-dark: #93a6ad;
  --color-s3-light: #cad4d7;
  --color-s3-lighter: #dce2e4;

  /* Megamenu sub navigation background */
  --sub-nav-bg: var(--color-s1);

  /* Mobile navigation drawer background */
  --mobile-drawer: var(--color-p3);
  --mobile-drawer-active: var(--color-p3-light);
}

/* color-mix is used for the newer browsers */
@supports (color: color-mix) {
  :root {
    --color-p1-dark: color-mix(in srgb, var(--color-p1), #000 15%);
    --color-p1-darker: color-mix(in srgb, var(--color-p1), #000 30%);
    --color-p1-darkest: color-mix(in srgb, var(--color-p1), #000 60%);
    --color-p1-light: color-mix(in srgb, var(--color-p1), #fff 15%);
    --color-p1-lighter: color-mix(in srgb, var(--color-p1), #fff 30%);
    --color-p1-lightest: color-mix(in srgb, var(--color-p1), #fff 60%);
    --color-p2-dark: color-mix(in srgb, var(--color-p2), #000 15%);
    --color-p2-darker: color-mix(in srgb, var(--color-p2), #000 30%);
    --color-p2-darkest: color-mix(in srgb, var(--color-p2), #000 60%);
    --color-p2-light: color-mix(in srgb, var(--color-p2), #fff 15%);
    --color-p2-lighter: color-mix(in srgb, var(--color-p2), #fff 30%);
    --color-p2-lightest: color-mix(in srgb, var(--color-p2), #fff 60%);
    --color-p3-dark: color-mix(in srgb, var(--color-p3), #000 15%);
    --color-p3-darker: color-mix(in srgb, var(--color-p3), #000 30%);
    --color-p3-darkest: color-mix(in srgb, var(--color-p3), #000 60%);
    --color-p3-light: color-mix(in srgb, var(--color-p3), #fff 15%);
    --color-p3-lighter: color-mix(in srgb, var(--color-p3), #fff 30%);
    --color-p3-lightest: color-mix(in srgb, var(--color-p3), #fff 60%);
    --color-s1-darker: color-mix(in srgb, var(--color-s1), #000 5%);
    --color-s1-lighter: color-mix(in srgb, var(--color-s1), #fff 10%);
    --color-s2-dark: color-mix(in srgb, var(--color-s2), #000 15%);
    --color-s2-darker: color-mix(in srgb, var(--color-s2), #000 30%);
    --color-s3-dark: color-mix(in srgb, var(--color-s3), #000 15%);
    --color-s3-light: color-mix(in srgb, var(--color-s3), #fff 45%);
    --color-s3-lighter: color-mix(in srgb, var(--color-s3), #fff 60%);
    --sub-nav-bg: var(--color-s1);
    --mobile-drawer: var(--color-p3);
    --mobile-drawer-active: var(--color-p3-light);
  }
}
