/* -----------------------------------------
   SANTA CRUZ COLOR THEME
----------------------------------------- */

:root {
  /* color variations are hardcoded for older browsers
 color-mix is used for the newer browsers */

  /* Highlight */
  --color-p1: #f5811b;
  --color-p1-dark: #f1760b;
  --color-p1-darker: #e26f0a;
  --color-p1-darkest: #c05e08;
  --color-p1-light: #f79a49;
  --color-p1-lighter: #f9b376;
  --color-p1-lightest: #fbcda4;

  /* Primary */
  --color-p2: #0f4f94;
  --color-p2-dark: #0d4581;
  --color-p2-darker: #0c3e74;
  --color-p2-darkest: #082c53;
  --color-p2-light: #3f72a9;
  --color-p2-lighter: #6f95bf;
  --color-p2-lightest: #9fb9d4;

  /* Standout */
  --color-p3: #2c2c4f;
  --color-p3-dark: #252542;
  --color-p3-darker: #1f1f38;
  --color-p3-darkest: #121221;
  --color-p3-light: #565672;
  --color-p3-lighter: #808095;
  --color-p3-lightest: #ababb9;

  /* Secondary 1 */
  --color-s1: #eff4fa;
  --color-s1-darker: #e3ecf6;
  --color-s1-lighter: #f7fafd;

  /* Secondary 2 */
  --color-s2: #c7d9ea;
  --color-s2-dark: #adc7e0;
  --color-s2-darker: #93b6d7;

  /* Secondary 3 */
  --color-s3: #9bb8d3;
  --color-s3-dark: #82a6c8;
  --color-s3-light: #c3d4e5;
  --color-s3-lighter: #d7e3ed;

  /* Megamenu sub navigation background */
  --sub-nav-bg: var(--color-s1-lighter);

  /* Mobile navigation draver background */
  --mobile-drawer: var(--color-p3);
  --mobile-drawer-active: var(--color-p3-light);
}

/* color-mix is used for the newer browsers */
@supports (color: color-mix) {
  :root {
    --color-p1-dark: color-mix(in srgb, var(--color-p1), #000 15%);
    --color-p1-darker: color-mix(in srgb, var(--color-p1), #000 30%);
    --color-p1-darkest: color-mix(in srgb, var(--color-p1), #000 60%);
    --color-p1-light: color-mix(in srgb, var(--color-p1), #fff 15%);
    --color-p1-lighter: color-mix(in srgb, var(--color-p1), #fff 30%);
    --color-p1-lightest: color-mix(in srgb, var(--color-p1), #fff 60%);
    --color-p2-dark: color-mix(in srgb, var(--color-p2), #000 15%);
    --color-p2-darker: color-mix(in srgb, var(--color-p2), #000 30%);
    --color-p2-darkest: color-mix(in srgb, var(--color-p2), #000 60%);
    --color-p2-light: color-mix(in srgb, var(--color-p2), #fff 15%);
    --color-p2-lighter: color-mix(in srgb, var(--color-p2), #fff 30%);
    --color-p2-lightest: color-mix(in srgb, var(--color-p2), #fff 60%);
    --color-p3-dark: color-mix(in srgb, var(--color-p3), #000 15%);
    --color-p3-darker: color-mix(in srgb, var(--color-p3), #000 30%);
    --color-p3-darkest: color-mix(in srgb, var(--color-p3), #000 60%);
    --color-p3-light: color-mix(in srgb, var(--color-p3), #fff 15%);
    --color-p3-lighter: color-mix(in srgb, var(--color-p3), #fff 30%);
    --color-p3-lightest: color-mix(in srgb, var(--color-p3), #fff 60%);
    --color-s1-darker: color-mix(in srgb, var(--color-s1), #000 5%);
    --color-s1-lighter: color-mix(in srgb, var(--color-s1), #fff 10%);
    --color-s2-dark: color-mix(in srgb, var(--color-s2), #000 15%);
    --color-s2-darker: color-mix(in srgb, var(--color-s2), #000 30%);
    --color-s3-dark: color-mix(in srgb, var(--color-s3), #000 15%);
    --color-s3-light: color-mix(in srgb, var(--color-s3), #fff 45%);
    --color-s3-lighter: color-mix(in srgb, var(--color-s3), #fff 60%);
    --sub-nav-bg: var(--color-s1-lighter);
    --mobile-drawer: var(--color-p3);
    --mobile-drawer-active: var(--color-p3-light);
  }
}
