<aside class="p-b-md p-t-sm section-standout site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div
          class="h4 w-100 brd-bottom brd-highlight p-b"
          role="heading"
          aria-level="2">
          About
        </div>
        <a
          href="/home/about"
          class="d-block no-underline m-y font-size-16">
          About <span class="sr-only">our organization</span>
        </a>
        <a
          href="/home/about_news"
          class="d-block no-underline m-y font-size-16">
          News <span class="sr-only">from our organization</span>
        </a>
        <a
          href="/home/about_careers"
          class="d-block no-underline m-y font-size-16">
          Careers <span class="sr-only">and job openings</span>
        </a>
        <a href="/home/contact" class="d-block no-underline m-y font-size-16">
          Contact us
        </a>
      </div>
      <div class="col-md-4">
        <div
          class="h4 w-100 brd-bottom  brd-highlight p-b"
          role="heading"
          aria-level="2">
          Heading
        </div>
        <a href="javascript:;" class="d-block no-underline m-y font-size-16">
          Link 1
        </a>
        <a href="javascript:;" class="d-block no-underline m-y font-size-16">
          Link 2
        </a>
        <a href="javascript:;" class="d-block no-underline m-y font-size-16">
          Link 3
        </a>
      </div>
      <div class="col-md-4">
        <div
          class="h4 w-100 brd-bottom brd-highlight p-b"
          role="heading"
          aria-level="2">
          Heading 2
        </div>
        <a href="javascript:;" class="d-block no-underline m-y font-size-16">
          Link 4 <span class="sr-only">regarding this website</span>
        </a>
        <a href="javascript:;" class="d-block no-underline m-y font-size-16">
          Link 5 <span class="sr-only">regarding this website</span>
        </a>
        <a href="javascript:;" class="d-block no-underline m-y font-size-16">
          Link 6 <span class="sr-only">regarding this website</span>
        </a>
      </div>
    </div>
  </div>
</aside>
<footer id="footer" class="global-footer">
  <div class="container">
    <div class="d-flex">
      <a href="https://www.ca.gov" class="cagov-logo">
        <span class="sr-only">CA.gov</span>
        <span class="ca-gov-logo-svg"></span>
      </a>
      <ul class="footer-links">
        <li>
          <a href="/home/conditions_of_use">Conditions of use</a>
        </li>
        <li>
          <a href="/home/privacy_policy">Privacy policy</a>
        </li>
        <li>
          <a href="/home/accessibility">Accessibility</a>
        </li>
        <li>
          <a href="/home/website_accessibility_certification">Website accessibility certification</a>
        </li>
        <li>
          <a href="/home/sitemap">Sitemap</a>
        </li>
      </ul>
      <ul class="socialsharer-container">
        <li>
          <a href="https://github.com/Office-of-Digital-Innovation/California-State-Web-HTML">
            <span class="ca-gov-icon-github" aria-hidden="true"></span>
            <span class="sr-only">GitHub</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="copyright">
    <div class="container text-right">
      <span aria-hidden="true">&copy;</span>
      <span id="thisyear">
        <script>
          document.getElementById('thisyear').appendChild(document.createTextNode(new Date().getFullYear()))
        </script>
      </span>
      State of California
    </div>
  </div>
  <button class="return-top">
    <span class="sr-only">Back to top</span>
  </button>
</footer>
<div class="decoration-last">&nbsp;</div>