@{
    ViewData["Title"] = "Top task 1 Content page 2";
    Layout = "~/Views/Shared/Layouts/_SamplePageLayout.cshtml";
    ViewData["Landing"] = "Top task1";
}

@Html.Raw("""
<nav aria-label="You are here" class="breadcrumbs">
  <ol>
    <li>
      <a href="/" title="Home page">Home</a>
    </li>
    <li>
      <a href="/home/top_task_1" title="Home page">Top task 1</a>
    </li>
    <li>Content page 2</li>
  </ol>
</nav>

<div class="row">
  <div class="col-lg-3 pe-lg-5" role="complementary">
    <!-- Side navigation -->

    <nav aria-label="list navigation" class="side-navigation">
      <ul>
        <li>
          <a href="/home/top_task_1" class="landing">Top task</a>
        </li>
        <li>
          <a href="/home/top_task_1_content_page_1">Content page 1</a>
        </li>
        <li>
          <ul>
            <li>
              <a href="/home/top_task_1_content_page_2" class="active"
                >Content page 2</a
              >
            </li>
          </ul>
        </li>
        <li><a href="/home/top_task_1_content_page_3">Content page 3</a></li>
        <li><a href="/home/top_task_1_content_page_4">Content page 4</a></li>
      </ul>
    </nav>
  </div>
  <div class="col-lg-9 p-b-lg">
    <h1 class="m-t-0 p-b-lg">Content page 2</h1>

    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
      pretium dapibus diam, a finibus metus congue a.
    </p>

    <h2>Heading</h2>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
      pretium dapibus diam, a finibus metus congue a. Vestibulum laoreet
      faucibus ultrices. Vestibulum condimentum lectus in arcu ultricies
      condimentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Vestibulum pretium dapibus diam, a finibus metus congue a. Vestibulum
      laoreet faucibus ultrices. Vestibulum condimentum lectus in arcu ultricies
      condimentum.
    </p>

    <h2>Heading</h2>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
      pretium dapibus diam, a finibus metus congue a. Vestibulum laoreet
      faucibus ultrices. Vestibulum condimentum lectus in arcu ultricies
      condimentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Vestibulum pretium dapibus diam, a finibus metus congue a. Vestibulum
      laoreet faucibus ultrices. Vestibulum condimentum lectus in arcu ultricies
      condimentum.
    </p>
  </div>
</div>
""")