@{
    ViewData["Title"] = "Top task 1";
    Layout = "~/Views/Shared/Layouts/_SampleHomeLayout.cshtml";
    ViewData["Landing"] = "Top task1";
}

@Html.Raw("""
<div class="bg-primary">
  <div class="container p-t-md">
    <nav aria-label="You are here" class="breadcrumbs">
      <ol>
        <li>
          <a href="/" title="Home page">Home</a>
        </li>
        <li>Top task 1</li>
      </ol>
    </nav>
    <h1 class="m-t-0 p-b-lg">Top task 1</h1>
  </div>
</div>

<div class="container p-t-md">
  <main class="main-primary" id="main">
    <div class="row">
      <div class="col-lg-3 pe-lg-5" role="complementary">
        <!-- Side navigation -->
        <nav aria-label="list navigation" class="side-navigation">
          <ul>
            <li>
              <a href="/home/top_task_1" class="landing active">Top task</a>
            </li>
            <li>
              <a href="/home/top_task_1_content_page_1">Content page 1</a>
            </li>
            <li>
              <ul>
                <li>
                  <a href="/home/top_task_1_content_page_2">Content page 2</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/home/top_task_1_content_page_3">Content page 3</a>
            </li>
            <li>
              <a href="/home/top_task_1_content_page_4">Content page 4</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-9 p-b-lg">
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
          pretium dapibus diam, a finibus metus congue a.
        </p>

        <div class="row m-t-lg">
          <div class="col-md-6 m-b-md">
            <!-- Article -->
            <article
              class="bg-gray-50 brd-solid-1 brd-gray-100 rounded-4 h-100 d-flex flex-column p-a-md">
              <h2 class="h4 m-t-0 m-b-sm">Task 1</h2>
              <p>
                Promote the most accessed task. Use analytics to validate that
                it’s popular. Use an action for the button, like apply,
                register, etc.
              </p>
              <p class="mt-auto m-t">
                <a class="btn btn-primary p-x-md" href="javascript:;">
                  Button
                  <span class="sr-only">with link that goes somewhere</span>
                </a>
              </p>
            </article>
            <!-- End Article -->
          </div>

          <div class="col-md-6 m-b-md">
            <!-- Article -->
            <article
              class="bg-gray-50 brd-solid-1 brd-gray-100 rounded-4 h-100 d-flex flex-column p-a-md">
              <h2 class="h4 m-t-0 m-b-sm">Task 2</h2>
              <p>
                Promote the most accessed task. Use analytics to validate that
                it’s popular. Use an action for the button, like apply,
                register, etc.
              </p>
              <p class="mt-auto m-t">
                <a class="btn btn-primary p-x-md" href="javascript:;">
                  Button
                  <span class="sr-only">with link that goes somewhere</span>
                </a>
              </p>
            </article>
            <!-- End Article -->
          </div>
        </div>

        <div class="container">
          <h2>Subtitle</h2>
          <div class="row">
            <div class="col-md-4 mb-4">
              <a href="/home/top_task_1_content_page_1" class="link-grid"
                >Content page 1</a
              >
            </div>
            <div class="col-md-4 mb-4">
              <a href="/home/top_task_1_content_page_2" class="link-grid"
                >Content page 2</a
              >
            </div>
            <div class="col-md-4 mb-4">
              <a href="/home/top_task_1_content_page_3" class="link-grid"
                >Content page 3</a
              >
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 mb-4">
              <a href="/home/top_task_1_content_page_1" class="link-grid"
                >Content page 1</a
              >
            </div>
            <div class="col-md-4 mb-4">
              <a href="/home/top_task_1_content_page_2" class="link-grid"
                >Content page 2</a
              >
            </div>
            <div class="col-md-4 mb-4">
              <a href="/home/top_task_1_content_page_3" class="link-grid"
                >Content page 3</a
              >
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 mb-4">
              <a href="/home/top_task_1_content_page_1" class="link-grid"
                >Content page 1</a
              >
            </div>
            <div class="col-md-4 mb-4">
              <a href="/home/top_task_1_content_page_2" class="link-grid"
                >Content page 2</a
              >
            </div>
            <div class="col-md-4 mb-4">
              <a href="/home/top_task_1_content_page_3" class="link-grid"
                >Content page 3</a
              >
            </div>
          </div>
        </div>

        <h2>Subtitle</h2>

        <ul>
          <li class="m-t">
            <a href="/home/top_task_1_content_page_1">Content 1</a>
          </li>
          <li class="m-t">
            <a href="/home/top_task_1_content_page_2">Content 2</a>
          </li>
          <li class="m-t">
            <a href="/home/top_task_1_content_page_3">Content 3</a>
          </li>
          <li class="m-t">
            <a href="/home/top_task_1_content_page_4">Content 4</a>
          </li>
        </ul>
      </div>
    </div>
  </main>
</div>
""")