@{
    ViewData["Title"] = "Components and patterns";
    Layout = null;
    ViewData["Landing"] = "Components";
}

@Html.Raw("""
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<div class="cagov-header-full">
  <div class="cagov-header-full__1-utility">
    <div class="cagov-header-full__2-top-bar">
      <details
        name="cagov-header-full__buttongroup"
        class="cagov-header-full_official-button">
        <summary>Official California website</summary>
      </details>
      <div>
        <span class="bold">California government websites use .ca.gov </span
        ><br />
        A .ca.gov website is part of California’s government.
      </div>

      <div class="cagov-header-full__3-links">
        <a href="https://www.ca.gov/support/"
          >Login
          <svg
            aria-hidden="true"
            alt=""
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
            viewBox="0 0 205.5 200.2">
            <path
              d="M198.8,100.6c0,52.8-42.8,95.5-95.5,95.5S7.7,153.3,7.7,100.6c0-52.8,42.8-95.5,95.5-95.5s95.5,42.8,95.5,95.5ZM144.8,81.7c0-22.9-18.6-41.5-41.5-41.5s-41.5,18.6-41.5,41.5,18.6,41.5,41.5,41.5,41.5-18.6,41.5-41.5ZM159,155.2c1.3-1.4,3.4-4.6,4.2-6,0,0-2.5-3-6.4-5.7-7.2-4.9-18.1-9.1-26.9-9.1s-5.8,2.8-8.6,4.4c-11,6.4-22.7,7.2-34,1.3s-6.6-5.1-9.4-5.5-12.4,1.4-16.1,2.6c-6.9,2.3-14.5,6.8-18.8,12.5,11,15.1,30.2,25.4,48.6,28.1,24,3.6,50.7-4.9,67.4-22.6Z"
              style="fill: #3b3a48;" />
          </svg>
        </a>
      </div>

      <!--utility menu-->
      <details
        class="cagov-header-full__3-menu-button"
        name="cagov-header-full__buttongroup">
        <summary lang="en">Utility menu</summary>
      </details>

      <!-- utility menu content-->
      <div class="cagov-header-full__3-utility-menu">
        <nav aria-label="Utility navigation">
          <ul>
            <li>
              <a href="https://www.ftb.ca.gov/">FTB</a>
            </li>
            <li>
              <a href="https://www.cdt.ca.gov/">CDT</a>
            </li>
            <li>
              <a href="https://www.edd.ca.gov/">EDD</a>
            </li>
            <li>
              <a href="https://www.cdtfa.ca.gov/">CDTFA</a>
            </li>
          </ul>
        </nav>
      </div>
      <!--end cagov collapsible menu content-->
      <!--end cagov-menu-->
    </div>
    <!--end cagov-top-bar -->
  </div>
  <!--end cagov-header-full__1-utility-->
  <div class="cagov-header-full__1-bottom-bar">
    <div class="cagov-header-full__2-branding">
      <!--CA.gov logo-->
      <div class="cagov-header-full__3-logo">
        <a
          href="https://www.ca.gov/"
          class="cagov-header-full__3-logo-link"
          aria-label="Go to the California state government homepage">
          <svg
            class="cagov-logo"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 3000 837"
            title="CA.gov logo">
            <defs>
              <linearGradient
                id="grad0"
                gradientUnits="userSpaceOnUse"
                x2="0"
                y2="837">
                <stop offset="67%" stop-color="#2f85b0" />
                <stop offset="67.5%" stop-color="#326130" />
              </linearGradient>
              <linearGradient
                id="grad1"
                y1="395"
                x2="0"
                y2="836"
                gradientUnits="userSpaceOnUse">
                <stop offset="0" stop-color="#8b5a24" />
                <stop offset="1" stop-color="#441a12" />
              </linearGradient>
            </defs>
            <g fill="url(#grad0)">
              <path
                d="M422 836c87 0 155-18 214-50l13-32c-21 3-40 6-55 6h-7l-7-2c-15-4-33-14-54-30-8-6-20-16-30-30-22 5-46 8-72 8-171 0-291-119-291-290 0-161 126-287 287-287 90 0 170 36 244 110l52-133C636 38 533 0 425 0c-114 0-220 41-298 114C46 191 1 298 1 417c0 247 173 419 422 419" />
              <path
                d="M888 338c4-1 11-1 14-1 28 0 59 11 88 22 4 2 7 3 11 4 2 1 3 1 5 2l61-157 58 150c2-0 5-0 7-1c5-0 11-0 17-0 2 0 3 0 5 0 1 0 1 0 2 0c39 1 76 5 111 13L1137 30h-143l-121 312c5-2 10-3 15-4" />
              <path
                d="M1901 291c-48 0-93 19-126 54-34 36-53 87-53 143 0 112 79 197 184 197 47 0 82-15 116-48l3-3v4c0 34 0 63-25 86-18 17-48 26-83 26-42 0-71-11-90-33h-104c27 79 93 119 198 119 59 0 105-14 139-43 41-35 58-82 58-162v-329h-94v44l-3-3c-38-36-76-52-121-52ZM2030 489c0 65-43 110-106 110s-108-47-108-111 45-111 106-111 107 46 108 112" />
              <path
                d="M2539 350c-38-38-89-58-144-58-109 0-198 91-198 202s88 201 199 201 203-89 203-202c0-55-21-105-60-143m-141 257c-62 0-106-47-106-114s44-113 106-113 108 47 108 114-44 113-108 113" />
              <path d="M2905 302l-98 230l-99-230h-95l164 383h60l163-383" />
            </g>
            <path
              fill="url(#grad1)"
              d="M1454 635c-1-23-20-71-37-86 7-21-3-32-9-39-3-4-15-7-20-9-18-27-56-52-110-68-35-10-76-17-122-18-2 0-4 0-7 0-5 0-10 0-16 1-43 2-108 12-123 12c-6 0-22-7-41-15-22-9-48-18-67-18-2 0-4 0-6 0-18 2-60 29-76 38-11 6-45 21-55 27-2 1-7 1-9 1-25 8-42 37-50 41-1-3-10-16-23-16-2 0-3 0-5 1-16 7-15 18-15 24-3-1-8-7-16-7-3 0-7 1-11 3-18 9-8 25-12 30-6 8-27 29-35 43-3 6 0 21-2 27-7 17-44 47-48 53-1 3 9 13 21 23 11 9 24 17 32 19 23 0 71-9 82-11h2c3 0 9 2 16 4 6 2 14 3 23 3 2 0 5 0 7 0 11-2 19-7 25-13 10-10 16-23 27-28 9-4 20-7 30-7 5 0 9 1 13 2-18 33-14 77-21 83-7 7-13 14-17 21-16 24-18 46-26 51-2 1-5 2-8 2-9 0-20-4-29-4-2 0-4 0-5 1-10 4-33 25-24 30 3 0 40 0 79 0h34c1 0 22-19 23-19h55c5-1 5-9 29-21 27-11 14-63 49-103 0 0 11-10 13-10 12 0 32 22 105 22s90-25 100-25c5 0 15 8 15 10-33 55 49 117 43 121 0 0-1 0-1 0-3 0-11-4-23-4-5 0-10 1-16 3-13 4-24 21-14 26 3 0 35 0 68 0 18 0 36 0 49 0 4-1 4-8 4-16 0-5 0-10 1-13 3-4 6-20 15-31 9-9 15-16 22-16 3 0 6 1 9 4 15 8 52 13 73 21 9 3 15 7 15 11 0 3-2 3-5 3-1 0-3 0-4 0-5-1-12-2-18-2-3 0-7 1-10 2-10 4-19 14-22 21-1 4-1 7 3 8h87c10 0 6-20 29-64 3-12-28-30-33-53-3-16-7-76-7-76Z" />
            <path
              fill="#B91F39"
              d="M1550 250l-28-80l-28 80h-84l68 52l-24 80l68-52l68 52l-24-80l68-52h-84Z" />
          </svg>
        </a>
      </div>

      <!--ca.gov search-->
      <details
        class="cagov-header-full__3-search-button"
        name="cagov-header-full__buttongroup">
        <summary>
          <span class="cagov-sr-only" lang="en">CA.gov search</span>
          <svg
            alt=""
            aria-hidden="true"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 2400 2400">
            <path
              d="M2253 1833l-71-59-224-181-317-262c65-116 99-245 99-376c0-195-75-390-226-541-147-147-342-219-541-219-411 0-760 349-760 760c0 414 343 764 757 764c154 0 308-46 439-136l326 270l223 180l77 64c38 31 93 26 124-12l106-128c31-37 26-93-12-124zm-945-546c-92 92-212 137-335 137-250 0-466-212-466-469c0-250 212-466 466-466c260 0 472 212 472 466c0 120-48 240-137 332z" />
          </svg>
        </summary>
      </details>

      <div class="cagov-header-full__3-search">
        <form
          action="https://www.ca.gov/search/"
          method="get"
          role="search"
          aria-label="Search CA.gov">
          <label for="cagov-search-input" class="cagov-sr-only"
            >Search CA.gov</label
          >
          <input
            type="search"
            id="cagov-search-input"
            name="q"
            placeholder="Search CA.gov"
            aria-describedby="cagov-search-button" />
          <button
            type="submit"
            id="cagov-search-button"
            aria-label="Submit search">
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 2400 2400">
              <path
                d="M2253 1833l-71-59-224-181-317-262c65-116 99-245 99-376c0-195-75-390-226-541-147-147-342-219-541-219-411 0-760 349-760 760c0 414 343 764 757 764c154 0 308-46 439-136l326 270l223 180l77 64c38 31 93 26 124-12l106-128c31-37 26-93-12-124zm-945-546c-92 92-212 137-335 137-250 0-466-212-466-469c0-250 212-466 466-466c260 0 472 212 472 466c0 120-48 240-137 332z" />
            </svg>
          </button>
        </form>
      </div>
      <!--end cagov-header-full__3-search-->

      <!--main menu-->
      <details
        class="cagov-header-full__3-main-menu-button"
        name="cagov-header-full__buttongroup">
        <summary lang="en">
          <span class="cagov-sr-only">Main menu</span>
          <span
            aria-hidden="true"
            class="cagov-header-full__4-main-menu-hamburger"></span>
        </summary>
      </details>

      <div class="cagov-header-full__3-main-menu">
        <nav aria-label="Main navigation">
          <ul>
            <li>
              <a href="https://www.ca.gov/services/">Services</a>
            </li>
            <li>
              <a href="https://www.ca.gov/departments/">Departments</a>
            </li>
            <li>
              <a href="https://www.ca.gov/about-california/"
                >About California</a
              >
            </li>
            <li>
              <a href="https://www.ca.gov/support/">Get help</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!--end cagov-header-full__2-branding-->
  </div>
  <!--end cagov-header-full__1-bottom-bar-->
</div>
<!--end cagov-header-full-->

<style>
  body {
  margin: 0;
  padding: 0;
}

/* cagov shell styles */
div.cagov-header-full {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:
    "Public Sans",
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    "Noto Sans",
    sans-serif;
  color: #3b3a48;

  /* global */

  :focus {
    outline: 2px solid #0b8ee5;
  }

  .bold {
    font-weight: 700;
  }

  & a {
    color: #046b99;

    &:hover,
    &:focus {
      color: #035376;
    }
  }

  .cagov-sr-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  > div.cagov-header-full__1-bottom-bar,
  > div.cagov-header-full__1-utility {
    > div.cagov-header-full__2-top-bar,
    > div.cagov-header-full__2-branding {
      width: 100%;
      padding-right: 12px;
      padding-left: 12px;
      margin-right: auto;
      margin-left: auto;

      @media (width >= 576px) {
        max-width: 540px;
      }
      @media (width >= 768px) {
        max-width: 720px;
      }
      @media (width >= 992px) {
        max-width: 960px;
      }
      @media (width >= 1200px) {
        max-width: 1176px;
      }
    }
  }

  /* cagov official styles */
  > div.cagov-header-full__1-utility {
    background-color: #f5f9fa;
    min-height: 42px;

    > div.cagov-header-full__2-top-bar {
      display: flex;
      gap: 0.5rem;
      flex-flow: column wrap;
      width: 100%;
      align-items: start;
      padding-top: 0.2rem;
      padding-bottom: 0.5rem;

      @media (width >= 300px) {
        flex-direction: row;
        align-items: center;
      }

      > details.cagov-header-full_official-button {
        flex-grow: 1;
        flex-shrink: 0;

        > summary {
          font-size: 0.875rem;
          display: inline-block;
          width: fit-content;
          padding: 0.35rem 0.5rem 0.2rem;
          right: 0.5rem;
        }
      }

      > details.cagov-header-full__3-menu-button > summary {
        font-size: 0.95rem;
        padding: 0.35rem 0.5rem;
        right: 0.5rem;

        @media (width >= 436px) {
          left: 0.2rem;
          padding: 0.35rem 0.3rem;
        }
      }

      > details.cagov-header-full_official-button,
      > details.cagov-header-full__3-menu-button {
        > summary {
          list-style: none;
          text-decoration: underline;
          cursor: pointer;
          position: relative;

          &::after {
            margin-left: 0.5rem;
            content: "";
            display: inline-block;
            text-decoration: none;
            position: relative;
            top: -2px;
            width: 0.4rem;
            height: 0.4rem;
            border-top: 1px solid #000;
            border-left: 1px solid #000;
            transform: rotate(225deg);
            transition: 200ms;
            vertical-align: middle;
          }
        }

        + div {
          display: none;
          width: 100%;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          line-height: 1.5;
          font-size: 0.875rem;
          order: 0;

          @media (width >= 436px) {
            order: 1;
          }
        }

        &[open] {
          > summary::after {
            transform: rotate(45deg);
            top: 2px;
          }

          + div {
            display: block;
          }
        }
      }

      > div.cagov-header-full__3-links {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        position: relative;
        left: 0;
        margin-right: 0.5rem;

        @media (width >= 436px) {
          left: 0.3rem;
          flex-direction: row;
          margin-right: 0;
        }

        > a {
          color: #3b3a48;
          font-size: 0.95rem;
          display: flex;
          gap: 0.3rem;
          padding: 0.2rem 0;

          > svg {
            width: 1.3rem;
          }

          @media (width >= 436px) {
            padding: 0.2rem 0.3rem;
          }

          &:hover,
          &:focus {
            color: #000;
          }
        }
      }

      > div.cagov-header-full__3-utility-menu > nav > ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0;
        position: relative;
        left: 0.35rem;
        font-size: 0.95rem;

        > li > a {
          padding: 0.35rem 0;
        }

        @media (width >= 436px) {
          align-items: flex-end;
          justify-content: flex-end;

          > li > a {
            padding: 0.35rem;
          }
        }

        @media (width >= 540px) {
          flex-direction: row;
          gap: 1.5rem;
        }
      }
    }
  }

  /* bottom bar/branding styles */
  > div.cagov-header-full__1-bottom-bar {
    border-bottom: 1px solid #d4d4d7;

    > div.cagov-header-full__2-branding {
      display: flex;
      justify-content: flex-start;
      flex-flow: column wrap;
      width: 100%;

      @media (width >= 300px) {
        flex-direction: row;
        align-items: center;
      }

      > div.cagov-header-full__3-logo {
        flex-grow: 1;
        flex-shrink: 0;
        width: 100%;

        @media (width >= 336px) {
          width: auto;
        }

        > a.cagov-header-full__3-logo-link {
          display: inline-block;

          > svg.cagov-logo {
            padding: 1rem 0;
            max-width: 216px;
            width: 100%;
            height: auto;
            display: block;
          }
        }
      }

      /* Main menu styles */
      > details.cagov-header-full__3-main-menu-button {
        > summary {
          list-style: none;
          padding: 0.5rem;
          position: relative;
          left: 0.5rem;

          @media (width >= 576px) {
            display: none;
          }

          > span.cagov-header-full__4-main-menu-hamburger {
            position: relative;
            display: block;
            width: 34px;
            height: 5px;
            border-radius: 4px;
            background-color: #035376;
            transition: 0.4s;
            margin: 10px 0;

            &::before,
            &::after {
              content: "";
              position: absolute;
              left: 0;
              width: 34px;
              height: 5px;
              border-radius: 4px;
              background-color: #035376;
              transition: 0.3s;
            }

            &::before {
              top: -12px;
            }

            &::after {
              top: 12px;
            }
          }
        }

        &[open] {
          + div {
            display: block;
          }

          > summary > span.cagov-header-full__4-main-menu-hamburger {
            background-color: #fff;

            &::before {
              transform: rotate(45deg);
              top: 0;
            }

            &::after {
              transform: rotate(-45deg);
              top: 0;
            }
          }
        }
      }

      /* Search styles */
      > details.cagov-header-full__3-search-button {
        > summary {
          cursor: pointer;
          display: inline-flex;
          align-items: center;
          position: relative;

          @media (width >= 576px) {
            display: none;
          }

          &::before,
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 5px;
            background: #035376;
            border-radius: 32px;
            transition:
              transform 0.3s,
              opacity 0.3s;
            opacity: 0;
          }

          > svg {
            width: 2.5rem;
            height: 2.5rem;
            transition: transform 0.3s;

            > path {
              fill: #035376;
            }
          }
        }

        &[open] {
          + div {
            display: block;
          }

          > summary {
            &::before,
            &::after {
              opacity: 1;
            }

            &::before {
              transform: rotate(45deg);
            }

            &::after {
              transform: rotate(-45deg);
            }

            > svg {
              transform: scale(0);
            }
          }
        }
      }

      > div.cagov-header-full__3-search {
        display: none;
        width: 100%;
        order: 1;

        @media (width >= 576px) {
          width: auto;
          display: block;
          order: 0;
        }

        > form {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          padding-top: 1rem;
          padding-bottom: 1rem;

          @media (width >= 576px) {
            max-width: 350px;
          }

          > input[type="search"] {
            font-size: 1.1rem;
            width: 100%;
            max-height: 38px;
            padding: 0 10px;
            transition: border 0.4s;
            border: 1px solid #72717c;
            border-radius: 5px 0 0 5px;
            height: 38px;
            outline-offset: -2px;
          }

          > button[type="submit"] {
            outline-offset: -4px;
            outline-color: #85cbf9;
            background-color: #72717c;
            color: #fff;
            border-radius: 0 5px 5px 0;
            padding: 0 12px;
            border: 1px solid #72717c;
            min-height: 38px;
            margin-left: -1px;

            > svg {
              fill: #fff;
            }
          }
        }
      }

      > div.cagov-header-full__3-main-menu {
        display: none;
        width: 100%;
        position: relative;

        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 0;
          width: 100vw;
          height: 0;
          border-top: 1px solid #d4d4d7;
          z-index: 1;
          pointer-events: none;
        }

        &::before {
          left: -50%;
        }

        @media (width >= 576px) {
          display: block;
        }

        > nav {
          position: relative;

          @media (width >= 576px) {
            left: -1rem;
          }

          > ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;

            @media (width >= 576px) {
              flex-direction: row;
            }

            > li {
              > a {
                font-size: 1.1rem;
                padding: 0.85rem 1rem 0.9rem;
                display: block;
                text-decoration: none;
                margin-left: -1rem;
                margin-right: -1rem;
                border-top: 1px solid #d4d4d7;

                &:hover,
                &:focus {
                  background-color: #fafafa;
                }

                &:focus {
                  outline-offset: -2px;
                }

                @media (width >= 576px) {
                  margin-left: 0;
                  margin-right: 0;
                }

                @media (width >= 768px) {
                  font-size: 1.125rem;
                }
              }

              &:first-child > a {
                border-top: none;
              }
            }
          }
        }
      }
    }
  }
}

</style>

<script>
  //@ts-check
document.addEventListener("DOMContentLoaded", () => {
  // Polyfill to support grouping <details> elements via the NAME property.
  // Safaroi 16.5 and earlier do not support details.name

  // Test to see if browser supports details.name
  const test = document.createElement("details");
  test.setAttribute("name", "x");
  const supportsName = test.name === "x";

  if (!supportsName) {
    /**
     * Selects all <details> elements that have a NAME attribute.
     * @type {NodeListOf<HTMLDetailsElement>}
     */
    const accordions = document.querySelectorAll("details[name]");
    accordions.forEach(details => {
      details.addEventListener("toggle", () => {
        if (details.open) {
          accordions.forEach(other => {
            if (
              other.open &&
              other !== details &&
              other.getAttribute("name") === details.getAttribute("name")
            ) {
              other.open = false;
              console.log("POLYFILL: details.name closed");
            }
          });
        }
      });
    });
  }
  // End details.name polyfill
});

</script>
""")