@{
    ViewData["Title"] = "Components and patterns";
    Layout = null;
    ViewData["Landing"] = "Components";
}

@Html.Raw("""
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<!-- Global Footer -->
<footer class="cagov-footer">
  <div class="cagov-footer__1-container">
    <div class="cagov-footer__2-footer-links">
      <a href="https://www.ca.gov" class="cagov-footer__3-footer-logo">
        <span class="cagov-sr-only">CA.gov</span>
        <?xml version="1.0" encoding="utf-8"?><svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 15 378 210"
          aria-hidden="true"
          alt="">
          <defs>
            <linearGradient
              id="grad0"
              gradientUnits="userSpaceOnUse"
              x2="0"
              y2="210">
              <stop offset="74.5%" stop-color="#2f85b0" />
              <stop offset="75%" stop-color="#326130" />
            </linearGradient>
            <linearGradient
              id="grad1"
              gradientUnits="userSpaceOnUse"
              y1="114"
              x2="0"
              y2="225">
              <stop offset="0" stop-color="#8B5A24" />
              <stop offset="1" stop-color="#441A12" />
            </linearGradient>
          </defs>
          <path
            fill="#B91F39"
            d="M135 100l-7 -20l-7 20h-21l17 13l-6 20l17 -13l17 13l-6 -20l17 -13h-21Z" />
          <g fill="url(#grad0)">
            <path
              d="M106 225c22 0 39-4 54-13l3-8c-5 1-10 1-14 1h-2l-2 0c-4-1-8-3-13-7c-2-2-5-4-8-7c-6 1-12 2-18 2c-43 0-73-30-73-73c0-41 32-72 72-72c23 0 43 9 61 28l14 -34c-21-17-47-27-74-27c-29 0-55 10-75 29C11 63 0 90 0 120C0 182 44 225 106 225z" />
            <path
              d="M223 100c2 0 3 0 4 0c7 0 15 3 22 6c1 0 2 1 3 1c0 0 1 0 1 1l15-39l15 38c1 0 1 0 2 0c1 0 3 0 4 0c0 0 1 0 1 0c10 0 19 1 28 3l-33-86h-35l-29 76Z" />
          </g>
          <path
            fill="url(#grad1)"
            d="M365 174c0-6-5-18-9-22c2-5-1-8-2-10c-1-1-4-2-5-2c-5-7-14-13-28-17c-9-3-19-4-31-4c-1 0-1 0-2 0c-1 0-2 0-4 0c-11 1-27 3-31 3c-2 0-6-2-10-4c-6-2-12-5-17-5c-1 0-1 0-1 0c-5 1-15 7-19 9c-3 1-11 5-14 7c-1 0-2 0-2 0c-6 2-11 9-12 10c0-1-3-4-6-4c0 0-1 0-1 0c-4 2-4 5-4 6c-1 0-2-2-4-2c-1 0-2 0-3 1c-4 2-2 6-3 8c-2 2-7 7-9 11c-1 1 0 5-1 7c-2 4-11 12-12 13c0 1 2 3 5 6c3 2 6 4 8 5c6 0 18-2 21-3c1 0 2 1 4 1c2 0 3 1 6 1c1 0 1 0 2 0c3-1 5-2 6-3c3-3 4-6 7-7c2-1 5-2 7-2c1 0 2 0 3 1C200 187 202 198 200 200c-2 2-3 4-4 5c-4 6-5 12-6 13c-1 0-1 0-2 0c-2 0-5-1-7-1c-1 0-1 0-1 0c-2 1-8 6-6 7c1 0 10 0 20 0h9c0 0 6-5 6-5h14c1 0 1-2 7-5c7-3 4-16 12-26c0 0 3-2 3-2c3 0 8 5 26 5c18 0 23-6 25-6c1 0 4 2 4 3c-8 14 12 29 11 30c-1 0-3-1-6-1c-1 0-3 0-4 1c-3 1-6 5-3 7c1 0 9 0 17 0c5 0 9 0 12 0c1 0 1-2 1-4c0-1 0-2 0-3c1-1 2-5 4-8c2-2 4-4 6-4c1 0 1 0 2 1c4 2 13 3 18 5c2 1 4 2 4 3c0 1-1 1-1 1c0 0-1 0-1 0c-1 0-3-1-5-1c-1 0-2 0-2 0c-2 1-5 3-5 5c0 1 0 2 1 2h22c3 0 2-5 7-16c1-3-7-7-8-13C366 190 365 175 365 174z" />
        </svg>
      </a>
      <ul class="cagov-footer__4-legal-links">
        <li>
          <a href="https://www.ca.gov/legal/conditions-of-use/"
            >Conditions of use</a
          >
        </li>
        <li>
          <a href="https://www.ca.gov/legal/privacy-policy/">Privacy policy</a>
        </li>
        <li>
          <a href="https://www.ca.gov/legal/accessibility/"> Accessibility </a>
        </li>
        <li>
          <a href="https://www.ca.gov/about/sitemap/">Sitemap</a>
        </li>
      </ul>
      <div class="cagov-footer__5-copyright">
        ©
        <span id="thisyear">
          <script>
            document.getElementById('thisyear').appendChild(document.createTextNode(new Date().getFullYear()))
          </script></span
        >
        State of California
      </div>
    </div>
  </div>
</footer>

<style>
  body {
  margin: 0;
  padding: 0;
}

/* cagov footer styles */
footer.cagov-footer {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:
    "Public Sans",
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    "Noto Sans",
    sans-serif;
  color: #3b3a48;
  background-color: #fafafa;
  border-top: 1px solid #d4d4d7;

  /* global */

  :focus {
    outline: 2px solid #0b8ee5;
  }

  .bold {
    font-weight: 700;
  }

  & a {
    color: #046b99;

    &:hover,
    &:focus {
      color: #035376;
    }
  }

  .cagov-sr-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  > div.cagov-footer__1-container {
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;

    @media (width >= 576px) {
      max-width: 540px;
    }
    @media (width >= 768px) {
      max-width: 720px;
    }
    @media (width >= 992px) {
      max-width: 960px;
    }
    @media (width >= 1200px) {
      max-width: 1176px;
    }

    > div.cagov-footer__2-footer-links {
      display: flex;
      flex-direction: column;
      align-items: start;
      padding: 1rem 0;

      @media (width >= 992px) {
        flex-direction: row;
        align-items: center;
      }

      > a.cagov-footer__3-footer-logo {
        display: inline-block;
        height: 28px;
        margin-right: 1.5rem;

        > svg {
          height: 100%;
          width: auto;
          display: block;
        }
      }

      > ul.cagov-footer__4-legal-links {
        list-style: none;
        font-size: 1.1rem;
        line-height: 1.5;
        margin-top: 1rem;
        margin-bottom: 1rem;

        > li {
          @media (width >= 992px) {
            display: inline-block;
          }

          &:not(:last-child) {
            margin-right: 20px;
          }

          > a {
            text-decoration: none;
            color: #3b3a48;

            &:hover,
            &:focus {
              color: #000;
            }
          }
        }
      }

      > div.cagov-footer__5-copyright {
        margin-top: 1rem;
        font-size: 1rem;
        line-height: 1.5;

        @media (width >= 992px) {
          margin-top: 0;
          margin-left: auto;
        }
      }
    }
  }
}

</style>
""")