@{
    ViewData["Title"] = "Components and patterns";
    Layout = "~/Views/Shared/Layouts/_SampleHomeLayout.cshtml";
    ViewData["Landing"] = "Components";
}

@Html.Raw("""
<div class="bg-gray-lightest">
  <div class="container p-y-md">
    <nav aria-label="You are here" class="breadcrumbs">
      <ol>
        <li>
          <a href="/" title="Home page">Home</a>
        </li>
        <li>Components and patterns</li>
      </ol>
    </nav>
    <h1 class="m-t-0">Components and patterns</h1>
  </div>
</div>

<div class="container p-t-lg">
  <div class="row">
    <div class="col-lg-3 pe-lg-5" role="complementary">
      <!-- Side navigation -->

      <nav aria-label="list navigation" class="side-navigation">
        <ul>
          <li>
            <a href="/home/top_task_1" class="landing active">Top task</a>
          </li>
          <li>
            <a href="/home/top_task_1_content_page_1">Content page 1</a>
          </li>
          <li>
            <ul>
              <li>
                <a href="/home/top_task_1_content_page_2">Content page 2</a>
              </li>
            </ul>
          </li>
          <li><a href="/home/top_task_1_content_page_3">Content page 3</a></li>
          <li><a href="/home/top_task_1_content_page_4">Content page 4</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-lg-9 p-b-lg">
      <p class="lead">
        This website contains most of the state template components and
        patterns. Here’s a directory of all items, with links to pages that
        contain that item. This allows designers, developers, and stakeholders
        review the item within context.
      </p>

      <div class="row p-y-md">
        <div class="col-lg-6">
          <h3 class="m-t-0">Content</h3>
        </div>
        <div class="col-lg-6">
          <ul>
            <li><a href="/home/samples_alert">Alert</a></li>
            <li><a href="/home/samples_banner">Banner</a></li>
            <li><a href="/home/samples_blockquote">Blockquote</a></li>
            <li>
              <a href="/home/samples_executive_profile">Executive profile</a>
            </li>
            <li><a href="/home/samples_list_unordered">Lists</a></li>
            <li><a href="/home/samples_modal">Modal</a></li>
            <li><a href="/home/samples_table">Table</a></li>
          </ul>
        </div>
      </div>
      <hr />

      <div class="row">
        <div class="col-lg-6">
          <h3 class="m-t-0">Layout and organization</h3>
        </div>
        <div class="col-lg-6">
          <ul>
            <li><a href="/home/samples_accordion">Accordion</a></li>
            <li><a href="/home/samples_card_grid_basic">Card grid</a></li>
            <li>
              <a href="/home/samples_horizontal_separator"
                >Horizontal separator</a
              >
            </li>
            <li><a href="/home/samples_tabs">Tabs</a></li>
          </ul>
        </div>
      </div>
      <hr />

      <div class="row">
        <div class="col-lg-6">
          <h3 class="m-t-0">Navigation</h3>
        </div>
        <div class="col-lg-6">
          <ul>
            <li><a href="/home/samples_breadcrumb">Breadcrumb</a></li>
            <li><a href="/home/samples_page_navigation">Page navigation</a></li>
            <li><a href="/home/samples_pagination">Pagination</a></li>
            <li><a href="/home/samples_side_navigation">Side navigation</a></li>
            <li>
              <a href="/home/samples_navigation_with_icons"
                >Navigation with icons</a
              >
            </li>
            <li><a href="/home/samples_featured_search">Featured search</a></li>
            <li><a href="/home/cagov_header">ca.gov header</a></li>
            <li><a href="/home/cagov_utility">ca.gov utility header</a></li>
            <li><a href="/home/cagov_header_full">ca.gov full header</a></li>
            <li><a href="/home/cagov_footer">ca.gov footer</a></li>
            <li><a href="/home/template_header_full">Template header</a></li>
          </ul>
        </div>
      </div>
      <hr />

      <div class="row">
        <div class="col-lg-6">
          <h3 class="m-t-0">Page patterns</h3>
        </div>
        <div class="col-lg-6">
          <ul>
            <li><a href="/home/about_news">Newsroom</a></li>
            <li><a href="/home/about_news_articles">List of articles</a></li>
            <li><a href="/home/about_news_article_title1">Article</a></li>
            <li><a href="/">Homepage</a></li>
            <li><a href="/home/sitemap">Sitemap</a></li>
            <li><a href="/home/page_404">404</a></li>
            <li><a href="/home/about">About us landing page</a></li>
            <li><a href="/home/about_careers">Careers</a></li>
            <li>
              <a href="/home/top_task_1">Landing page (+ variations)</a>
            </li>
            <li><a href="/home/content_directory">Content directory</a></li>
            <li><a href="/home/contact">Contact us</a></li>
          </ul>
        </div>
      </div>
      <hr />

      <div class="row">
        <div class="col-lg-6">
          <h3 class="m-t-0">Selection and input</h3>
        </div>
        <div class="col-lg-6">
          <ul>
            <li><a href="/home/samples_buttons">Button</a></li>
            <li><a href="/home/samples_card_default">Card</a></li>
            <li><a href="/home/samples_form_textfield">Form elements</a></li>
            <li>
              <a href="/home/samples_social_media_icons">Social media icons</a>
            </li>
          </ul>
        </div>
      </div>
      <hr />

      <div class="row">
        <div class="col-lg-6">
          <h3 class="m-t-0">Status</h3>
        </div>
        <div class="col-lg-6">
          <ul>
            <li><a href="/home/samples_countdown_timer">Countdown timer</a></li>
            <li><a href="/home/samples_number_counter">Number counter</a></li>
            <li><a href="/home/samples_progress_bar">Progress bar</a></li>
            <li>
              <a href="/home/samples_progress_block_bold">Progress tracker</a>
            </li>
          </ul>
        </div>
      </div>
      <hr />
    </div>
  </div>
</div>
""")