@{
    ViewData["Title"] = "California State Web Template";
    Layout = "~/Views/Shared/Layouts/_SampleHomeLayout.cshtml";
    ViewData["Landing"] = "Home";
}

@Html.Raw("""
<div class="container p-a-md">
  <div class="row">
    <div class="bg-gray-lightest col-md-6 col-lg-4 p-a-md order-2 order-md-1">
      <h1 class="h2 m-t">Homepage title</h1>
      <p>
        Compelling sentence or two that ties the website to the department
        missions or goals
      </p>
      <p>
        Vestibulum laoreet faucibus ultrices, vestibulum condimentum lectus in
        arcu.
      </p>
      <a href="javascript:;" class="btn btn-primary m-t-md m-b-lg">Button</a>
    </div>
    <div
      class="col-lg-8 col-md-6 p-0 text-right order-1 order-md-2 d-flex justify-content-center">
      <a
        href="#"
        class="feature-img bg-gray-light"
        style="background: url('images/main-banner.jpg')"
        aria-label="Feature card example image">
      </a>
    </div>
  </div>

  <h2>Top user tasks</h2>
  <div class="row">
    <div class="col-md-4 mb-4">
      <a href="/home/components_patterns" class="link-grid"
        >Components directory</a
      >
    </div>
    <div class="col-md-4 mb-4">
      <a href="/home/top_task_1_content_page_1" class="link-grid"
        >Top task 1 content 1</a
      >
    </div>
    <div class="col-md-4 mb-4">
      <a href="/home/top_task_2_content_page_1" class="link-grid"
        >Top task 2 content 1</a
      >
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mb-4">
      <a href="https://template.webstandards.ca.gov/" class="link-grid"
        >State Template Website</a
      >
    </div>
    <div class="col-md-4 mb-4">
      <a href="javascript:;" class="link-grid">Link</a>
    </div>
    <div class="col-md-4 mb-4">
      <a href="javascript:;" class="link-grid">Link</a>
    </div>
  </div>

  <div class="row m-y-lg">
    <div class="col-md-6 m-b-md">
      <!-- Article -->
      <article
        class="bg-gray-50 bg-gray-100-hover brd-solid-1 brd-gray-200 pos-rel rounded-4">
        <div class="p-a">
          <h3 class="h4 m-t-0 m-b-sm">
            <a
              class="u-link-v5 color-gray-dark color-primary-hover link-before no-underline"
              href="javascript:;">
              Marketing 1
            </a>
          </h3>
          <p>
            Use marketing spaces to promote items related to business goals.
            Limit to 2 or 3 and rotate as needed. This allows the homepage to
            remain simple and focused.
          </p>
        </div>
      </article>
      <!-- End Article -->
    </div>

    <div class="col-md-6 m-b-md">
      <!-- Article -->
      <article
        class="bg-gray-50 bg-gray-100-hover brd-solid-1 brd-gray-200 pos-rel rounded-4">
        <div class="p-a">
          <h3 class="h4 m-t-0 m-b-sm">
            <a
              class="u-link-v5 color-gray-dark color-primary-hover link-before no-underline"
              href="javascript:;">
              Marketing 2
            </a>
          </h3>
          <p>
            Enter a concise description for this topic. You could include
            imagery with the marketing cards to make it more visually appealing.
          </p>
        </div>
      </article>
      <!-- End Article -->
    </div>
  </div>

  <div class="row">
    <div class="col-lg-7">
      <div class="card brd-solid-1 brd-gray-light rounded-4 h-100">
        <div class="card-body">
          <h2 class="m-t-0">News</h2>

          <hr class="m-y-md" />
          <h3 class="lead font-weight-700">
            <a
              href="/home/about_news_press_release_title1"
              aria-disabled="true">
              Press release 1
            </a>
          </h3>
          <p>Month 00, 0000 | News</p>
          <hr class="m-y-md" />
          <h3 class="lead font-weight-700">
            <a
              href="/home/about_news_press_release_title2"
              aria-disabled="true">
              Press release 2
            </a>
          </h3>
          <p>Month 00, 0000 | News</p>
          <hr class="m-y-md" />
          <h3 class="lead font-weight-700">
            <a href="/home/about_news_article_title1" aria-disabled="true">
              News article 1
            </a>
          </h3>
          <p>Month 00, 0000 | News</p>
          <div class="m-t-md">
            <a href="/home/about_news">View all</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="card brd-solid-1 brd-gray-light rounded-4 p-a-md h-100">
        <h2 class="m-t-0">Heading</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
          pretium dapibus diam, a finibus metus congue a. Vestibulum laoreet
          faucibus ultrices. Vestibulum condimentum lectus in arcu ultricies
          condimentum.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
          pretium dapibus diam, a finibus metus congue a. Vestibulum laoreet
          faucibus ultrices. Vestibulum condimentum lectus in arcu ultricies
          condimentum.
        </p>
      </div>
    </div>
  </div>
</div>

<hr />

<div class="container m-y-md">
  <div class="row">
    <div class="col-md-4 d-flex">
      <!--Executive profile figure-->
      <figure class="executive-profile bg-transparent">
        <img src="/images/sample-logo.png" alt="Image Description" />
        <div class="executive-profile-body">
          <p>Official Title</p>
          <h3 class="executive-name">Name</h3>
          <p>Government agency</p>
          <p>
            <a href="javascript:;" aria-label="Link to Official's Website">
              Bio or contact info
            </a>
          </p>
        </div>
      </figure>
      <!-- End Figure -->
    </div>
    <div class="col-md-4 d-flex">
      <!--Executive profile figure-->
      <figure class="executive-profile bg-transparent">
        <img src="/images/sample-logo.png" alt="Image Description" />
        <div class="executive-profile-body">
          <p>Official Title</p>
          <h3 class="executive-name">Name</h3>
          <p>Government agency</p>
          <p>
            <a href="javascript:;" aria-label="Link to Official's Website">
              Bio or contact info
            </a>
          </p>
        </div>
      </figure>
      <!-- End Figure -->
    </div>
    <div class="col-md-4 d-flex">
      <!--Executive profile figure-->
      <figure class="executive-profile bg-transparent">
        <img src="/images/sample-logo.png" alt="Image Description" />
        <div class="executive-profile-body">
          <p>Official Title</p>
          <h3 class="executive-name">Name</h3>
          <p>Government agency</p>
          <p>
            <a href="javascript:;" aria-label="Link to Official's Website">
              Bio or contact info
            </a>
          </p>
        </div>
      </figure>
      <!-- End Figure -->
    </div>
  </div>
</div>
""")