@{
    ViewData["Title"] = "Serp";
    Layout = "~/Views/Shared/Layouts/_SampleBaseLayout.cshtml";
    ViewData["IsSerp"] = true;
}

@Html.Raw("""
<div id="main-content" class="main-content">
  <main class="main-primary" id="main">
    <!--Search result section-->
    <div class="section section-default">
      <div class="container search-results-header">
        <!--Uncomment if you prefer to use original google search box. Be advised that original custom search box is not meeting WCAG accessibility standards. -->
        <!--<gcse:searchbox-only resultsUrl="/serp.html" enableAutoComplete="true"></gcse:searchbox-only>-->

        <form id="Search" class="d-flex" action="?">
          <span class="sr-only" id="SearchInput">Custom Google Search</span>
          <input
            type="search"
            id="q"
            name="q"
            aria-labelledby="SearchInput"
            placeholder="Search this website"
            class="search-textfield height-40"
            style="width:95%" />
          <button
            type="submit"
            class="gsc-search-button width-60 height-40 color-white border-0 bg-gray-600 bg-gray-800-hover">
            <span class="ca-gov-icon-search" aria-hidden="true"></span>
            <span class="sr-only">Submit</span>
          </button>
        </form>
        <script>
          // extracting search query from the url parameter and applying it to the searchbox
          document
            .querySelector('input[name=q]')
            .value = new URLSearchParams(window.location.search).get("q");
        </script>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <gcse:searchresults-only></gcse:searchresults-only>
        <!-- <script src='//www.google.com/jsapi' type='text/javascript'></script> -->
      </div>
    </div>
  </main>
</div>
""")
