@{
    ViewData["Title"] = "Sitemap";
    Layout = "~/Views/Shared/Layouts/_SamplePageLayout.cshtml";
}

@Html.Raw("""
<nav aria-label="You are here" class="breadcrumbs">
  <ol>
    <li>
      <a href="/index.html" title="Home page">Home</a>
    </li>
    <li>Sitemap</li>
  </ol>
</nav>

<div class="row p-b-lg">
  <div class="col-md-10 mx-auto">
    <h1 class="m-t-0">Sitemap</h1>
    <div class="row">
      <div class="col-md-6">
        <a class="d-block m-y" href="index.html">Website homepage</a>

        <a class="d-block m-y" href="contact.html">Contact us</a>


        <h2 class="h3">Main navigation item</h2>
        <a class="d-block m-y" href="javascript:;">Section landing page</a>
        <ul>
          <li class="m-t-sm">
            <a href="javascript:;">Link</a>
          </li>
          <li class="m-t-sm">
            <a href="javascript:;">Link</a>
          </li>
          <li class="m-t-sm">
            <a href="javascript:;">Link</a>
          </li>
          <li class="m-t-sm">
            <a href="javascript:;">Link</a>
          </li>
          <li class="m-t-sm">
            <a href="javascript:;">Link</a>
          </li>
        </ul>


        <h2 class="h3">Main navigation item</h2>
        <a class="d-block m-y" href="javascript:;">Section landing page</a>
        <ul>
          <li class="m-t-sm">
            <a href="javascript:;">Link</a>
          </li>
          <li class="m-t-sm">
            <a href="javascript:;">Link</a>
          </li>
          <li class="m-t-sm">
            <a href="javascript:;">Link</a>
          </li>
          <li class="m-t-sm">
            <a href="javascript:;">Link</a>
          </li>
          <li class="m-t-sm">
            <a href="javascript:;">Link</a>
          </li>
        </ul>
        <a class="d-block m-y" href="javascript:;">Section landing page</a>
        <ul>
          <li class="m-t-sm">
            <a href="javascript:;">Link</a>
          </li>
          <li class="m-t-sm">
            <a href="javascript:;">Link</a>
          </li>
          <li class="m-t-sm">
            <a href="javascript:;">Link</a>
          </li>
          <li class="m-t-sm">
            <a href="javascript:;">Link</a>
          </li>
          <li class="m-t-sm">
            <a href="javascript:;">Link</a>
          </li>
        </ul>


        <h2 class="h3">Main navigation item</h2>
        <a class="d-block m-y" href="javascript:;">Section landing page</a>
        <ul>
          <li class="m-t-sm">
            <a href="javascript:;">Link</a>
          </li>
          <li class="m-t-sm">
            <a href="javascript:;">Link</a>
          </li>
          <li class="m-t-sm">
            <a href="javascript:;">Link</a>
          </li>
          <li class="m-t-sm">
            <a href="javascript:;">Link</a>
          </li>
          <li class="m-t-sm">
            <a href="javascript:;">Link</a>
          </li>
        </ul>
      </div>


      <div class="col-md-6">
        <h2 class="h3">Main navigation item</h2>
        <a class="d-block m-y" href="javascript:;">Section landing page</a>
        <ul>
          <li class="m-t-sm">
            <a href="javascript:;">Link</a>
          </li>
          <li class="m-t-sm">
            <a href="javascript:;">Link</a>
          </li>
          <li class="m-t-sm">
            <a href="javascript:;">Link</a>
          </li>
          <li class="m-t-sm">
            <a href="javascript:;">Link</a>
          </li>
          <li class="m-t-sm">
            <a href="javascript:;">Link</a>
          </li>
        </ul>
        <a class="d-block m-y" href="javascript:;">Section landing page</a>
        <ul>
          <li class="m-t-sm">
            <a href="javascript:;">Link</a>
          </li>
          <li class="m-t-sm">
            <a href="javascript:;">Link</a>
          </li>
          <li class="m-t-sm">
            <a href="javascript:;">Link</a>
          </li>
          <li class="m-t-sm">
            <a href="javascript:;">Link</a>
          </li>
          <li class="m-t-sm">
            <a href="javascript:;">Link</a>
          </li>
        </ul>


        <h2 class="h3">Main navigation item</h2>
        <a class="d-block m-y" href="javascript:;">Section landing page</a>
        <ul>
          <li class="m-t-sm">
            <a href="javascript:;">Link</a>
          </li>
          <li class="m-t-sm">
            <a href="javascript:;">Link</a>
          </li>
          <li class="m-t-sm">
            <a href="javascript:;">Link</a>
          </li>
          <li class="m-t-sm">
            <a href="javascript:;">Link</a>
          </li>
          <li class="m-t-sm">
            <a href="javascript:;">Link</a>
          </li>
        </ul>


        <h2 class="h3">Main navigation item</h2>
        <a class="d-block m-y" href="javascript:;">Section landing page</a>
        <ul>
          <li class="m-t-sm">
            <a href="javascript:;">Link</a>
          </li>
          <li class="m-t-sm">
            <a href="javascript:;">Link</a>
          </li>
          <li class="m-t-sm">
            <a href="javascript:;">Link</a>
          </li>
          <li class="m-t-sm">
            <a href="javascript:;">Link</a>
          </li>
          <li class="m-t-sm">
            <a href="javascript:;">Link</a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>
""")